<div id="showShortDesc" style=" position: fixed; top: 0px; left: 1200px; background: #eee; z-index: 999; border-radius: 5px; display: none; padding: 2px 8px 2px 8px;">{{varMenu}}</div>

<!--<input type="button" value="on" > -->
<div class='main-nav' style="z-index: 950;">
    <div class='navbar navbar-inverse' style="overflow: auto;">
        <div class='navbar-header' style = "border-right: solid 2px #eee; border-bottom: solid 2px #000;" >
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
			     <ul>
			        <li style = "list-style-type: none;">
                      <a [routerLink]='["/redirect", "/mnemoscheme", "Main"]' style = "margin-left: -20px;"><img src="../../../../assets/UMMC_logo.jpg" width="100" /></a>
			        </li>
		       </ul>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>

          <ul class='nav navbar-nav'>

            <li>
              <a [routerLink]='["/"]' id="SOUP_HCZ" class="soup_hcz" (click)='gotoSOUP_HCZ();' (mouseover)='overStyle("SOUP_HCZ")' (mouseout)='outStyle("SOUP_HCZ")' >
                <span style="font-size: 20px;" >СОУП ЧЦЗ </span>        
              </a>
            </li>

           
            <li style="display: none;" >
               <a >{{pageParams.page}}</a>
            </li>
            

            <li *ngFor="let nesting1 of values; let i = index;" (click)="getCurrentPage()">
              <a class="all_a" id="{{nesting1.abbreviation}}" [routerLink]='["/redirect", pageParams.page, "Main"]' (mouseover)="varMenu = nesting1.shortDesc; getAlt(); overStyle(nesting1.abbreviation)" (mouseout)="unGetAlt(); outStyle(nesting1.abbreviation)" (click)='collapse("Main", nesting1.abbreviation); pageParams.currentTagName = nesting1.tagName'>
                {{nesting1.shortDesc}}
              </a>
              <input type="hidden" id="{{nesting1.mnemoRef}}" value="{{nesting1.tagName}}" />
              <ul class='nav navbar-nav' style="margin-left: 10px;">
                <li *ngFor="let nesting2 of nesting1.areas; let i2 = index" (click)="getCurrentPage()">
                  <a class="all_a" id="{{nesting2.abbreviation}}" [routerLink]='["/redirect", pageParams.page, nesting2.mnemoRef]' (mouseover)="varMenu = nesting2.shortDesc; getAlt(); overStyle(nesting2.abbreviation)" (mouseout)="unGetAlt(); outStyle(nesting2.abbreviation)" (click)='collapse(nesting2.mnemoRef, nesting2.abbreviation); pageParams.currentTagName = nesting2.tagName'>
                    {{nesting2.shortDesc}}
                  </a>
                  <input type="hidden" id="{{nesting2.mnemoRef}}" value="{{nesting2.tagName}}" />
                  <ul class='nav navbar-nav' style="margin-left: 20px;" (click)="getCurrentPage()">
                    <li *ngFor="let nesting3 of nesting2.areas; let i3 = index">
                      <a class="all_a" id="{{nesting3.abbreviation}}" [routerLink]='["/redirect", pageParams.page, nesting3.mnemoRef]' (mouseover)="varMenu = nesting3.shortDesc; getAlt(); overStyle(nesting3.abbreviation)" (mouseout)="unGetAlt(); outStyle(nesting3.abbreviation)" (click)='collapse(nesting3.mnemoRef, nesting3.abbreviation); pageParams.currentTagName = nesting3.tagName'>
                        {{nesting3.shortDesc}}
                      </a>
                      <input type="hidden" id="{{nesting3.mnemoRef}}" value="{{nesting3.tagName}}" />
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

          </ul>
        </div>
    </div>
</div>
