<div class="toolbar_block" style="position: relative; width: 100%; padding-bottom: 20px; z-index: 1;">

  <p style="padding: 5px;">{{treeParams.user.name}}</p>


  <div [ngClass]="{displayAlarms: !newAlarms}" style="position: absolute; right: 10px; top: 5px; cursor: pointer;" routerLink="/alarms/{{pageParams.department}}" (click)="pageParams.page = 'alarms'" >
    <div style="position: absolute; padding: 3px; font-weight: bold; color: #fff; right: 25px; top: 10px; width: 25px; height: 25px; background: red; border-radius: 100%; z-index: 4; text-align: center;">
      {{allNewAlarms}}
    </div>
    <div id="circle1" style="position: absolute; right: 20px; top: 5px; width: 35px; height: 35px; background: red; border-radius: 100%; z-index: 3;"></div>
    <div id="circle2" style="position: absolute; right: 15px; top: 0px; width: 45px; height: 45px; border: solid 3px rgb(255, 200, 100); border-radius: 100%; z-index: 1;"></div>
  </div>

  <!--
  {{pageParams.page}}
    -->

  <div *ngFor="" >
  </div>



  <!--

  {{treeParams.getTreeParametersUrl}} <br><br>

  <div *ngFor="let prms of treeParams.getArraySelectedPrms">
    {{prms.tagName_name}}
  </div>

  <br><br>
  {{ treeParams.markRemoveDateTime }}

  <br><br>
  {{ treeParams.markRemoveSelectedPrms }}

  <br><br><br>


  <div> Массив id выбранных параметров (getSelectedParameters): {{treeParams.getSelectedParameters.length}} </div>

  <br><br><br><br><br><br>

  <div id="one_1" style="width: 350px; background: #fff; margin-left: -20px; margin-bottom: 10px; padding: 0px 10px 0px 10px; ">
    <div style="display: table-row;" *ngFor="let parameter of treeParams.getTreeParameters; let i=index;">
      <div style="display: table-cell;">
        <div style="cursor: pointer;"><a (click)="identif = i+1; unHideTree()" id="arrowOne_{{i+1}}">></a><input id="callObject_{{i+1}}" type="checkbox" (click)="allAttributes(i)" /> {{ parameter.shortDesc }}</div>
        <div id="two_{{i+1}}" style=" margin-left: 20px; ">
          <div style="display: table-row;" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
            <div style="display: table-cell;">
              <div><a>|</a><input id="callParameter_{{parameter.tagName}}_{{i+1}}" type="checkbox" /> {{ descriptionParameter.description }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  -->

</div>
