

<input id="regulatorWidth" (input)="getRegulatorWidth()" type="range" min="100" max="300" step="1" value="100" style="position: fixed; bottom: 50px; width: 200px; right: 50px; z-index: 999; display: none;">

<!--
<input type="text" style="position: fixed; bottom: 130px; width: 100px; right: 50px; z-index: 999;" value="{{InTouchWebWidth}}" >
<input type="text" style="position: fixed; bottom: 100px; width: 100px; right: 50px; z-index: 999;" value="{{schemeWindowTopOffset}}">
<input type="text" style="position: fixed; bottom: 70px; width: 100px; right: 50px; z-index: 999;" value="{{schemeWindowLeftOffset}}" >
  -->

<div id="leftScroll" class="left_right_scroll" style="position: fixed; right: 20px; top: 0px; display: none;" (mouseover)="tPermission=0; leftScroll()" (mouseout)="tPermission=1"></div>
<div id="rightScroll" class="left_right_scroll" style="position: fixed; left: 0px; top: 0px; display: none;" (mouseover)="tPermission=0; rightScroll()" (mouseout)="tPermission=1"></div>


<div id="schemeWindow" style="position: relative; width: 100%; height: 100%; top: 0px; left: 0px; background: rgb(80, 80, 80); overflow: auto; " (scroll)="getWindowOffset()">

  <div id="deployButton" (click)="deployScheme()" class="deployButton"></div>

  <img id="schemeRollUp" (click)="schemeRollUp()" src="assets/rollUp2.svg" style="position: fixed; right: 80px; top: 20px; width: 30px; height: 30px; z-index: 999; cursor: pointer; display: none;">

  <!--
   <input type="button" value="run" (click)="setUp()" style="position: absolute; top: 10px; right: 150px; z-index: 999;" />
   <input type="button" value="out" (click)="setDown()" style="position: absolute; top: 10px; right: 100px; z-index: 999;" />

   <input type="text" value="{{ks1.run}}" style="position: absolute; top: 10px; right: 220px; z-index: 999; width: 50px;">
   <input type="text" value="{{ks1.boolean}}" style="position: absolute; top: 10px; right: 280px; z-index: 999; width: 50px;">
   -->
  <!--
  <img src="assets/size_templ.png" style="position: relative; width: 100%; top: 0px; left: 0px; z-index: 998;">

  <iframe src="http://zinc-sp2017/intouchweb/api/symbol/home_page" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></iframe>


  <div>{{getHistoryValues['Roasting_Shop.F_sum_sm'][0].val}}</div>
  <div *ngFor="let history of getHistoryValues['Roasting_Shop.F_sum_sm']; let i=index;">
    {{history.val}}
  </div>


  <h5>{{getHistoryValuesUrl}}</h5>

  <div *ngFor=" let chart of arrayForChart ">
    {{chart.val}} _ {{chart.dt}}
  </div>

  <svg id="loadingCharge" class="loadingCharge" style="position: relative; width: 600px; height: 300px;"></svg>

  <input type="button" value="cvg" (click)="chartLoad()">

     -->



<div id="InTouchWeb" style="position: relative; top: 0px; left: 0px; width: 100%; height: auto; ">


  <svg id="obj"
       class="Obj"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 30.6%;
                 left: 13.21%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
                 cursor: pointer;"
       (click)="zoomingRS()">
  </svg>

  <svg id="Vysh"
       class="Vysh"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 47.4%;
                 left: 23.1%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
                 cursor: pointer;"
       (click)="zoomingLS()">
  </svg>

  <svg id="Velc_Old"
       class="Velc_Old"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 23.95%;
                 left: 69.8%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
                 cursor: pointer;"
       (click)="zoomingWaelz()">
  </svg>

  <svg id="Velc"
       class="Velc"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 35.5%;
                 left: 69.8%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
                 cursor: pointer;"
       (click)="zoomingWaelz()">
  </svg>

  <svg id="Gidromet"
       class="Gidromet"
       style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 83.45%;
                 left: 29.15%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
                 cursor: pointer;"
       (click)="zoomingGMS()">
  </svg>

  <svg id="KEC"
       class="KEC"
       style="    position: absolute;
       width: 10.95%;
       height: 9.5%;
       top: 77.25%;
       left: 53.05%;
       background: rgba(0, 0, 0, 0.25);
       z-index: 5;
       cursor: pointer;"
       (click)="zoomingKEC()">
  </svg>


  <img src="assets/scale_screen.png" style="position: relative; top: 0px; left: 0px; width: 100%; ">

  <img src="assets/home_main1.svg" style="position: absolute; top: 0px; left: 0px; width: 100%;">


  <img src="assets/headerRS.svg"
       id="headerRoastingShop"
       class="header_button"
       style="left: 13.1%; top: 6.65%; height: 2.25%;"
       (click)="zoomingRS()">

  <!-- <div id="ks1" style="position: absolute; top: 9.3%; left: 3.6%; width: 7.9%; height: 12.8%;" class="equipmentElement" (click)="showKs1()"> -->
  <div id="ks1" style="position: absolute; top: 9.3%; left: 3.6%; width: 7.9%; height: 12.8%;" class="equipmentElement">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks1.Q_air" type="text" class="Q_air" style="left: 3.5%; top: 22.5%;" value="{{ks1_Q_air}}" disabled>
  <input id="ks1.Q_O2" type="text" class="Q_O2" style="left: 8.4%; top: 22.5%;" value="{{ks1_Q_O2}}" disabled>

  <!-- <div id="ks2" style="position: absolute; top: 9.3%; left: 14.6%; width: 7.9%; height: 12.8%;" class="equipmentElement" (click)="showKs2()"> -->
  <div id="ks2" style="position: absolute; top: 9.3%; left: 14.6%; width: 7.9%; height: 12.8%;" class="equipmentElement">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="    position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks2.Q_air" type="text" class="Q_air" style="left: 14.4%; top: 22.5%;" value="{{ks2_Q_air}}" disabled>
  <input id="ks2.Q_O2" type="text" class="Q_O2" style="left: 19.3%; top: 22.5%;" value="{{ks2_Q_O2}}" disabled>

  <div id="ks3" style="position: absolute; top: 9.3%; left: 25.5%; width: 7.9%; height: 12.8%;">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks3.Q_air" type="text" class="Q_air" style="left: 25.3%; top: 22.5%;" value="{{ks3_Q_air}}" disabled>
  <input id="ks3.Q_O2" type="text" class="Q_O2" style="left: 30.2%; top: 22.5%;" value="{{ks3_Q_O2}}" disabled>

  <div id="ks4" style="position: absolute; top: 25.4%; left: 3.6%; width: 7.9%;  height: 12.8%;  ">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks4.Q_air" type="text" class="Q_air" style="left: 3.5%; top: 38.6%;" value="{{ks4_Q_air}}" disabled>
  <input id="ks4.Q_O2" type="text" class="Q_O2" style="left: 8.4%; top: 38.6%;" value="{{ks4_Q_O2}}" disabled>

  <div id="ks5" style="position: absolute; top: 25.4%; left: 25.5%; width: 7.9%; height: 12.8%; ">
    <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="ks5.Q_air" type="text" class="Q_air" style="left: 25.3%; top: 38.6%;" value="{{ks5_Q_air}}" disabled>
  <input id="ks5.Q_O2" type="text" class="Q_O2" style="left: 30.2%; top: 38.6%;" value="{{ks5_Q_O2}}" disabled>

  <input id="RS_R_collector" type="text" class="GreenColor" style="left: 13.4%; top: 26.2%;" value="{{RS_R_collector}}" disabled>
  <input id="RS_O2_total" type="text" class="Q_O2" style="left: 20.15%; top: 26.2%;" value="{{RS_O2_total}}" disabled>


  <img src="assets/headerSKC.svg"
       id="headerSulfuricShop"
       style="left: 37.2%; top: 6.65%; height: 2.25%;"
       class="header_button"
       (click)="zoomingSKC()">
  <input id="SAS_System3.SO2Concentration" type="text" class="GreenColor" style="left: 36.7%; top: 11.5%;" value="{{System3_SO2Concentration}}" disabled>
  <input id="SAS_System4.SO2Concentration" type="text" class="GreenColor" style="left: 41.9%; top: 11.5%;" value="{{System4_SO2Concentration}}" disabled>
  <input id="SAS_System5.SO2Concentration" type="text" class="GreenColor" style="left: 47.2%; top: 11.5%;" value="{{System5_SO2Concentration}}" disabled>
  <input id="SAS_System3.GasLoad" type="text" class="GreenColor" style="left: 36.7%; top: 26.1%;" value="{{System3_GasLoad}}" disabled>
  <input id="SAS_System4.GasLoad" type="text" class="GreenColor" style="left: 41.9%; top: 26.1%;" value="{{System4_GasLoad}}" disabled>
  <input id="SAS_System5.GasLoad" type="text" class="GreenColor" style="left: 47.2%; top: 26.1%;" value="{{System5_GasLoad}}" disabled>
  <input id="SAS_System3.GasConcentration" type="text" class="GreenColor" style="left: 36.7%; top: 30.7%;" value="{{System3_GasConcentration}}" disabled>
  <input id="SAS_System4.GasConcentration" type="text" class="GreenColor" style="left: 41.9%; top: 30.7%;" value="{{System4_GasConcentration}}" disabled>
  <input id="SAS_System5.GasConcentration" type="text" class="GreenColor" style="left: 47.2%; top: 30.7%;" value="{{System5_GasConcentration}}" disabled>
  <input id="SAS_free_volume" type="text" class="GreenColor" style="left: 36.8%; top: 35.3%;" value="{{SAS_Vmng}}" disabled>
  <input id="SAS_free_volume_2" type="text" class="GreenColor" style="left: 44.2%; top: 35.3%;" value="{{SAS_Vmng2}}" disabled>


  <img src="assets/headerWaelz.svg"
       id="headerWaelzShop"
       style="left: 70.15%; top: 6.65%; height: 2.25%;"
       class="header_button"
       (click)="zoomingWaelz()">

  <div id="vp1" style="position: absolute; top: 11.75%; left: 52.4%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp1.Load" type="text" class="Load" style="left: 58.7%; top: 10.6%;" value="{{vp1_Load}}" disabled>
  <input id="vp1.T_vg" type="text" class="T_vg" style="left: 63.6%; top: 11.2%;" value="{{vp1_T_vg}}" disabled>

  <div id="vp2" style="position: absolute; top: 24.2%; left: 52.4%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp2.Load" type="text" class="Load" style="left: 58.7%; top: 23%;" value="{{vp2_Load}}" disabled>
  <input id="vp2.T_vg" type="text" class="T_vg" style="left: 63.6%; top: 23.6%;" value="{{vp2_T_vg}}" disabled>

  <div id="vp3" style="position: absolute; top: 36.6%; left: 52.4%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp3.Load" type="text" class="Load" style="left: 58.7%; top: 35.4%;" value="{{vp3_Load}}" disabled>
  <input id="vp3.T_vg" type="text" class="T_vg" style="left: 63.6%; top: 36%;" value="{{vp3_T_vg}}" disabled>

  <div id="vp4" style="position: absolute; top: 11.75%; left: 67.1%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp4.Load" type="text" class="Load" style="left: 73.5%; top: 10.6%;" value="{{vp4_Load}}" disabled>
  <input id="vp4.T_vg" type="text" class="T_vg" style="left: 78.4%; top: 11.2%;" value="{{vp4_T_vg}}" disabled>

  <div id="vp5" style="position: absolute; top: 24.2%; left: 81.9%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp5.Load" type="text" class="Load" style="left: 88%; top: 23%;" value="{{vp5_Load}}" disabled>
  <input id="vp5.T_vg" type="text" class="T_vg" style="left: 92.9%; top: 23.6%;" value="{{vp5_T_vg}}" disabled>

  <div id="vp6" style="position: absolute; top: 36.6%; left: 81.9%; width: 15.4%; ">
    <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_006.svg" style="    position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="vp6.Load" type="text" class="Load" style="left: 88%; top: 35.4%;" value="{{vp6_Load}}" disabled>
  <input id="vp6.T_vg" type="text" class="T_vg" style="left: 92.9%; top: 36%;" value="{{vp6_T_vg}}" disabled>



  <div id="larox1" style="position: absolute; top: 12%; left: 84.8%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox2" style="position: absolute; top: 12%; left: 90.4%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>



  <div id="pump1" style="position: absolute; top: 50.05%; left: 3.2%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump2" style="position: absolute; top: 50.05%; left: 4.8%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump3" style="position: absolute; top: 50.05%; left: 6.4%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump4" style="position: absolute; top: 50.05%; left: 8%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="    position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump5" style="position: absolute; top: 50.05%; left: 9.65%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump6" style="position: absolute; top: 50.05%; left: 11.25%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump7" style="position: absolute; top: 50.05%; left: 12.85%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump8" style="position: absolute; top: 50.05%; left: 14.4%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump9" style="position: absolute; top: 50.05%; left: 16.05%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump10" style="position: absolute; top: 50.05%; left: 17.65%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump11" style="position: absolute; top: 50.05%; left: 19.3%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="pump12" style="position: absolute; top: 50.05%; left: 20.94%; width: 1.36%; display: none;">
    <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>


  <img src="assets/headerLS.svg"
       id="headerHydroMet"
       style="left: 11.45%; top: 42.15%; height: 2.25%;"
       class="header_button"
       (click)="zoomingLS()">

  <input id="LS_pH_washout" type="text" class="GreenColor" style="left: 3.7%; top: 47.5%;" value="{{LS_pH_washout}}" disabled>
  <input id="LS_pH_roasting" type="text" class="GreenColor" style="left: 8.3%; top: 47.5%;" value="{{LS_pH_roasting}}" disabled>
  <input id="LS_pH_VSG" type="text" class="GreenColor" style="left: 3.7%; top: 51.6%;" value="{{LS_pH_VSG}}" disabled>
  <input id="LS_pH_neutral" type="text" class="GreenColor" style="left: 8.3%; top: 51.6%;" value="{{LS_pH_neutral}}" disabled>
  <input id="LS_pH_VVS_6" type="text" class="GreenColor" style="left: 2.7%; top: 56.0%;" value="{{LS_pH_VVS_6}}" disabled>
  <input id="LS_pH_VSNS" type="text" class="GreenColor" style="left: 6.1%; top: 56.0%;" value="{{LS_pH_VSNS}}" disabled>
  <input id="LS_pH_VSKS" type="text" class="GreenColor" style="left: 9.3%; top: 56.0%;" value="{{LS_pH_VSKS}}" disabled>

  <div id="LS_thickener1" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 14.2%; top: 47.9%; border-radius: 100%;"></div>
  <div id="LS_thickener2" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 14.2%; top: 50.8%; border-radius: 100%;"></div>
  <div id="LS_thickener3" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 14.2%; top: 53.6%; border-radius: 100%;"></div>
  <div id="LS_thickener4" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 14.2%; top: 56.35%; border-radius: 100%;"></div>

  <div id="LS_thickener5" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 17.3%; top: 47.9%; border-radius: 100%;"></div>
  <div id="LS_thickener6" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 17.3%; top: 50.8%; border-radius: 100%;"></div>
  <div id="LS_thickener7" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 17.3%; top: 53.6%; border-radius: 100%;"></div>
  <div id="LS_thickener8" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 17.3%; top: 56.35%; border-radius: 100%;"></div>

  <div id="LS_thickener9" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 20.4%; top: 47.9%; border-radius: 100%;"></div>
  <div id="LS_thickener10" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 20.4%; top: 50.8%; border-radius: 100%;"></div>
  <div id="LS_thickener11" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 20.4%; top: 53.6%; border-radius: 100%;"></div>
  <div id="LS_thickener12" class="LS_thickener" style="position: absolute; width: 0.7%; height: 1.2%; left: 20.4%; top: 56.35%; border-radius: 100%;"></div>



  <img src="assets/headerGMS.svg"
       id="headerSulfuricShop"
       style="left: 18.35%; top: 59.75%; height: 2.25%;"
       class="header_button"
       (click)="zoomingGMS()">

  <div id="pump90_1" style="position: absolute; top: 68.9%; left: 54.9%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>
  <input id="Pump_P510B_Flow" type="text" class="GreenColor" style="left: 57.9%; top: 70.9%;" value="{{KEC_Pump_P510B_Flow}}" disabled>

  <div id="pump90_2" style="position: absolute; top: 63.38% ; left: 54.9%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>
  <input id="Pump_P510A_Flow" type="text" class="GreenColor" style="left: 57.9%; top: 65.4%;" value="{{KEC_Pump_P510A_Flow}}" disabled>

  <div id="pump90_3" style="position: absolute; top: 70.4%; left: 71.72%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
  </div>
  <input id="Pump_P703A_Flow" type="text" class="GreenColor" style="left: 74.7%; top: 72.0%;" value="{{KEC_Pump_P703A_Flow}}" disabled>

  <div id="pump90_4" style="position: absolute; top: 76.5%; left: 71.72%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>
  <input id="Pump_P703B_Flow" type="text" class="GreenColor" style="left: 74.7%; top: 78.1%;" value="{{KEC_Pump_P703B_Flow}}" disabled>

  <div id="pump90_5" style="position: absolute; top: 70.8%; left: 32.38%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_6" style="position: absolute; top: 75.2%; left: 32.38%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_7" style="position: absolute; top: 79.6%; left: 32.38%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_8" style="position: absolute; top: 19.65%; left: 4.33%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_9" style="position: absolute; top: 35.65%; left: 4.36%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_10" style="position: absolute; top: 19.65%; left: 15.3%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_11" style="position: absolute; top: 19.65%; left: 26.25%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="pump90_12" style="position: absolute; top: 35.75%; left: 26.25%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>



  <img src="assets/headerKEC.svg"
       id="headerSulfuricShop"
       style="left: 65.75%; top: 46.75%; height: 2.25%;"
       class="header_button"
       (click)="zoomingKEC()">

  <input id="HMS_Pump_neutral_solution_Flow" type="text" class="GreenColor" style="left: 36.35%; top: 66.6%;" value="{{HMS_Pump_neutral_solution_Flow}}" disabled>
  <input id="HMS_specific_weight" type="text" class="GreenColor" style="left: 46.3%; top: 86.9%;" value="{{HMS_specific_weight}}" disabled>
  <input id="HMS_total_weight" type="text" class="GreenColor" style="left: 46.3%; top: 90.8%;" value="{{HMS_total_weight}}" disabled>


  <div id="thickener1" style="position: absolute; top: 65.7%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener2" style="position: absolute; top: 73.2%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener3" style="position: absolute; top: 80.7%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener4" style="position: absolute; top: 87.8%; left: 2.7%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="thickener5" style="position: absolute; top: 70.5%; left: 10.2%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="thickener5_1" style="position: absolute; top: 78%; left: 10.2%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="thickener5_2" style="position: absolute; top: 85.5%; left: 10.2%; width: 7.2%;">
    <img src="assets/animation/hydrometallurgy/thickener_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/hydrometallurgy/thickener_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>



  <div id="larox3" style="position: absolute; top: 67.5%; left: 17.7%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="larox4" style="position: absolute; top: 67.5%; left: 23.3%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox5" style="position: absolute; top: 77.4%; left: 17.7%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox6" style="position: absolute; top: 77.4%; left: 23.3%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
  </div>

  <div id="larox7" style="position: absolute; top: 88.4%; left: 17.7%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>

  <div id="larox8" style="position: absolute; top: 88.4%; left: 23.3%; width: 4.9%;">
    <img src="assets/animation/velc/larox2_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox2_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>




  <img src="assets/headerVIU.svg"
       id="headerSulfuricShop"
       style="left: 41.25%; top: 38.5%; height: 2.25%;"
       class="header_button"
       (click)="zoomingVIU()">

  <img src="assets/animation/tank_roof.svg" style="position: absolute; top: 43.25%; left: 36.45%; width: 4.0%; z-index: 4;">
  <div id="trend_VIU_neutral" class="fontVIU" style="position: absolute; top: 46.3%; left: 36.6%;">{{KEC_Tank_VIU_neutral_trend}} м<sup><small>3</small></sup>/ч</div>
  <div id="level_VIU_neutral" style="position: absolute; top: 48.9%; left: 36.6%; width: 3.7%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_VIU_neutral" src="assets/animation/top_neutral.svg" style="position: absolute; top: 48.0%; left: 36.65%; width: 3.6%; z-index: 3;">
  <img id="bottom_VIU_neutral" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 51.0%; left: 36.65%; width: 3.6%; z-index: 2; ">
  <div id="water1" style="position: absolute; top: 47.9%; left: 36.4%; width: 3.95%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="Tank_VIU_neutral_level" type="text" class="GreenColor" style="left: 37.2%; top: 54.0%; " value="{{KEC_Tank_VIU_neutral_level}}" disabled>
  <input id="Tank_VIU_neutral" type="text" class="GreenColor" style="left: 37.2%; top: 56.3%;" value="{{KEC_Tank_VIU_neutral}}" disabled>
  <div id="streak1" class="streak" style="top: 47.9%; left: 40.5%;"></div>


  <img src="assets/animation/tank_roof.svg" style="position: absolute; top: 43.25%; left: 46.6%; width: 4.0%; z-index: 4;">
  <div id="trend_VIU_OE" class="fontVIU" style="position: absolute; top: 46.3%; left: 46.75%;">{{KEC_Tank_VIU_OE_trend}} м<sup><small>3</small></sup>/ч</div>
  <div id="level_VIU_OE" style="position: absolute; top: 48.9%; left: 46.75%; width: 3.7%; height: 3.45%; z-index: 1; background: url(assets/animation/level_oe.svg); background-size: contain;"></div>
  <img id="top_VIU_OE" src="assets/animation/top_oe.svg" style="position: absolute; top: 48.0%; left: 46.8%; width: 3.6%; z-index: 3;">
  <img id="bottom_VIU_OE" src="assets/animation/bottom_oe.svg" style="position: absolute; top: 51.0%; left: 46.8%; width: 3.6%; z-index: 2; ">
  <div id="water2" style="position: absolute; top: 47.9%; left: 46.6%; width: 3.95%; opacity: 0.7; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="Tank_VIU_OE_level" type="text" class="GreenColor" style="left: 47.4%; top: 54.0%;" value="{{KEC_Tank_VIU_OE_level}}" disabled>
  <input id="Tank_VIU_OE" type="text" class="GreenColor" style="left: 47.4%; top: 56.3%;" value="{{KEC_Tank_VIU_OE}}" disabled>
  <div id="streak2" class="streak" style="top: 47.9%; left: 50.6%;"></div>


  <img src="assets/animation/tank_roof.svg" style="position: absolute; top: 43.25%; left: 41.6%; width: 4.0%; z-index: 4;">
  <div id="trend_VIU_mixed" class="fontVIU" style="position: absolute; top: 46.3%; left: 41.75%;">{{KEC_Tank_VIU_mixed_trend}} м<sup><small>3</small></sup>/ч</div>
  <div id="level_VIU_mixed" style="position: absolute; top: 48.9%; left: 41.75%; width: 3.7%; height: 3.45%; z-index: 1; background: url(assets/animation/level_mixed.svg); background-size: contain;"></div>
  <img id="top_VIU_mixed" src="assets/animation/top_mixed.svg" style="position: absolute; top: 48.0%; left: 41.8%; width: 3.6%; z-index: 3;">
  <img id="bottom_VIU_mixed" src="assets/animation/bottom_mixed.svg" style="position: absolute; top: 51.0%; left: 41.8%; width: 3.6%; z-index: 2; ">
  <div id="water3" style="position: absolute; top: 47.9%; left: 41.65%; width: 3.95%; opacity: 0.8; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="Tank_VIU_mixed_level" type="text" class="GreenColor" style="left: 42.4%; top: 54.0%;" value="{{KEC_Tank_VIU_mixed_level}}" disabled>
  <input id="Tank_VIU_mixed" type="text" class="GreenColor" style="left: 42.4%; top: 56.3%;" value="{{KEC_Tank_VIU_mixed}}" disabled>
  <div id="streak3" class="streak" style="top: 47.9%; left: 45.6%;"></div>





  <img src="assets/animation/tank_roof.svg" style="position: absolute; top: 65.6%; left: 41.2%; width: 4.0%; z-index: 4;">
  <div id="level_HMS_neutral" style="position: absolute; top: 71.25%; left: 41.35%; width: 3.7%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_HMS_neutral" src="assets/animation/top_neutral.svg" style="position: absolute; top: 70.35%; left: 41.4%; width: 3.6%; z-index: 3;">
  <img id="bottom_HMS_neutral" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 73.35%; left: 41.4%; width: 3.6%; z-index: 2; ">
  <div id="water4" style="position: absolute; top: 70.3%; left: 41.15%; width: 3.95%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="HMS_neutral_Level" type="text" class="GreenColor" style="left: 41.9%; top: 76.3%;" value="{{HMS_neutral_Level}}" disabled>
  <input id="Tank_HMS_neutral" type="text" class="GreenColor" style="left: 41.9%; top: 78.5%;" value="{{HMS_Tank_HMS_neutral}}" disabled>
  <div id="streak4" class="streak" style="top: 70.25%; left: 45.2%;"></div>



  <img src="assets/animation/tank_roof.svg" style="position: absolute; top: 65.6%; left: 46.5%; width: 4.0%; z-index: 4;">
  <div id="level_HMS_OE" style="position: absolute; top: 71.25%; left: 46.65%; width: 3.7%; height: 3.45%; z-index: 1; background: url(assets/animation/level_oe.svg); background-size: contain;"></div>
  <img id="top_HMS_OE" src="assets/animation/top_oe.svg" style="position: absolute; top: 70.35%; left: 46.7%; width: 3.6%; z-index: 3;">
  <img id="bottom_HMS_OE" src="assets/animation/bottom_oe.svg" style="position: absolute; top: 73.35%; left: 46.7%; width: 3.6%; z-index: 2; ">
  <div id="water5" style="position: absolute; top: 70.3%; left: 46.52%; width: 3.95%; opacity: 0.7; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="Tank_HMS_OE_level" type="text" class="GreenColor" style="left: 47.2%; top: 76.3%; " value="{{HMS_OE_Level}}" disabled>
  <input id="Tank_HMS_OE" type="text" class="GreenColor" style="left: 47.2%; top: 78.5%; " value="{{HMS_Tank_HMS_OE}}" disabled>
  <div id="streak5" class="streak" style="top: 70.25%; left: 50.5%;"></div>




  <div id="water6" style="position: absolute; top: 72.1%; left: 65.75%; width: 3.62%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <!--
  <input id="Tank_Damper" type="text" class="GreenColor" style="left: 71.4%; top: 67.9%;" value="{{KEC_Tank_Damper}}" disabled>
    -->



  <img src="assets/animation/tank_flat.svg" style="position: absolute; top: 51.5%; left: 53.23%; width: 3.5%; z-index: 4;">
  <div id="level_KEC_TK510A" style="position: absolute; top: 55.25%; left: 53.23%; width: 3.5%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_KEC_TK510A" src="assets/animation/top_neutral.svg" style="position: absolute; top: 54.35%; left: 53.23%; width: 3.5%; z-index: 3;">
  <img id="bottom_KEC_TK510A" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 57.3%; left: 53.23%; width: 3.5%; z-index: 2; ">
  <div id="water8" style="position: absolute; top: 54.25%; left: 53.2%; width: 3.62%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="Tank_TK510A" type="text" class="GreenColor" style="left: 53.6%; top: 60.2%;" value="{{KEC_Tank_TK510A}}" disabled>


  <img src="assets/animation/tank_flat.svg" style="position: absolute; top: 51.5%; left: 58.1%; width: 3.5%; z-index: 4;">
  <div id="level_KEC_TK510B" style="position: absolute; top: 55.25%; left: 58.1%; width: 3.5%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_KEC_TK510B" src="assets/animation/top_neutral.svg" style="position: absolute; top: 54.35%; left: 58.1%; width: 3.5%; z-index: 3;">
  <img id="bottom_KEC_TK510B" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 57.3%; left: 58.1%; width: 3.5%; z-index: 2; ">
  <div id="water7" style="position: absolute; top: 54.3%; left: 58.05%; width: 3.5%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="Tank_TK510B" type="text" class="GreenColor" style="left: 58.4%; top: 60.2%;" value="{{KEC_Tank_TK510B}}" disabled>



  <img src="assets/animation/tank_flat.svg" style="position: absolute; top: 51.5%; left: 63.75%; width: 3.5%; z-index: 4;">
  <div id="level_KEC_TK702A" style="position: absolute; top: 55.25%; left: 63.75%; width: 3.5%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_KEC_TK702A" src="assets/animation/top_neutral.svg" style="position: absolute; top: 54.35%; left: 63.75%; width: 3.5%; z-index: 3;">
  <img id="bottom_KEC_TK702A" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 57.3%; left: 63.75%; width: 3.5%; z-index: 2; ">
  <div id="water9" style="position: absolute; top: 54.25%; left: 63.68%; width: 3.62%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="KEC_Tank_TK702A" type="text" class="GreenColor" style="left: 64.1%; top: 60.2%;" value="{{KEC_Tank_TK702A}}" disabled>


  <img src="assets/animation/tank_flat.svg" style="position: absolute; top: 51.5%; left: 68.05%; width: 3.5%; z-index: 4;">
  <div id="level_KEC_TK702B" style="position: absolute; top: 55.25%; left: 68.05%; width: 3.5%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_KEC_TK702B" src="assets/animation/top_neutral.svg" style="position: absolute; top: 54.35%; left: 68.05%; width: 3.5%; z-index: 3;">
  <img id="bottom_KEC_TK702B" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 57.3%; left: 68.05%; width: 3.5%; z-index: 2; ">
  <div id="water10" style="position: absolute; top: 54.25%; left: 67.98%; width: 3.62%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="KEC_Tank_TK702B" type="text" class="GreenColor" style="left: 68.3%; top: 60.2%;" value="{{KEC_Tank_TK702B}}" disabled>


  <img src="assets/animation/tank_flat.svg" style="position: absolute; top: 51.5%; left: 76.65%; width: 3.5%; z-index: 4;">
  <div id="level_KEC_TK702C" style="position: absolute; top: 55.25%; left: 76.65%; width: 3.5%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_KEC_TK702C" src="assets/animation/top_neutral.svg" style="position: absolute; top: 54.35%; left: 76.65%; width: 3.5%; z-index: 3;">
  <img id="bottom_KEC_TK702C" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 57.3%; left: 76.65%; width: 3.5%; z-index: 2; ">
  <div id="water11" style="position: absolute; top: 54.25%; left: 76.6%; width: 3.62%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="KEC_Tank_TK702C" type="text" class="GreenColor" style="left: 76.9%; top: 60.2%;" value="{{KEC_Tank_TK702C}}" disabled>


  <img src="assets/animation/tank_flat.svg" style="position: absolute; top: 51.5%; left: 72.35%; width: 3.5%; z-index: 4;">
  <div id="level_KEC_TK702D" style="position: absolute; top: 55.25%; left: 72.35%; width: 3.5%; height: 3.45%; z-index: 1; background: url(assets/animation/level_neutral.svg); background-size: contain;"></div>
  <img id="top_KEC_TK702D" src="assets/animation/top_neutral.svg" style="position: absolute; top: 54.35%; left: 72.35%; width: 3.5%; z-index: 3;">
  <img id="bottom_KEC_TK702D" src="assets/animation/bottom_neutral.svg" style="position: absolute; top: 57.3%; left: 72.35%; width: 3.5%; z-index: 2; ">
  <div id="water12" style="position: absolute; top: 54.25%; left: 72.3%; width: 3.62%; z-index: 3;">
    <img src="assets/animation/water/water_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/water/water_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/water/water_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="KEC_Tank_TK702D" type="text" class="GreenColor" style="left: 72.7%; top: 60.2%;" value="{{KEC_Tank_TK702D}}" disabled>


  <input id="KEC_Tank_TK705A" type="text" class="GreenColor" style="left: 65.4%; top: 82.8%;" value="{{KEC_Tank_TK705A}}" disabled>
  <input id="KEC_Tank_TK705B" type="text" class="GreenColor" style="left: 69.3%; top: 82.8%;" value="{{KEC_Tank_TK705B}}" disabled>
  <input id="KEC_Tank_TK705C" type="text" class="GreenColor" style="left: 65.4%; top: 87.8%;" value="{{KEC_Tank_TK705C}}" disabled>
  <input id="KEC_Tank_TK705D" type="text" class="GreenColor" style="left: 69.3%; top: 87.8%;" value="{{KEC_Tank_TK705D}}" disabled>
  <input id="KEC_Tank_TK705E" type="text" class="GreenColor" style="left: 65.4%; top: 92.7%;" value="{{KEC_Tank_TK705E}}" disabled>
  <input id="KEC_Tank_TK705F" type="text" class="GreenColor" style="left: 69.3%; top: 92.7%;" value="{{KEC_Tank_TK705F}}" disabled>

  <input id="KEC_Total_All" type="text" class="GreenColor" style="left: 76.9%; top: 82.4%;" value="{{KEC_Total_All}}" disabled>
  <input id="KEC_Total_VIU" type="text" class="GreenColor" style="left: 76.9%; top: 84.6%;" value="{{KEC_Total_VIU}}" disabled>
  <input id="KEC_Total_HMS" type="text" class="GreenColor" style="left: 76.9%; top: 86.7%;" value="{{KEC_Total_HMS}}" disabled>
  <input id="KEC_Total_LS" type="text" class="GreenColor" style="left: 76.9%; top: 89.0%;" value="{{KEC_Total_LS}}" disabled>
  <input id="KEC_Total_GMO" type="text" class="GreenColor" style="left: 76.9%; top: 91.1%;" value="{{KEC_Total_GMO}}" disabled>
  <input id="KEC_Total_OE_and_KO" type="text" class="GreenColor" style="left: 76.9%; top: 93.2%;" value="{{KEC_Total_OE_and_KO}}" disabled>


  <input id="ZES_CV_701C_P_AC" type="text" class="GreenColor2" style="left: 68.55%; top: 74.25%; display: none;" value="{{ZES_CV_701C_P_AC}}" disabled>
  <input id="ZES_CV_701C_DC" type="text" class="GreenColor2" style="left: 52.75%; top: 92.65%;" value="{{ZES_CV_701C_DC}}" disabled>
  <input id="ZES_CV_701C_V_DC" type="text" class="GreenColor2" style="left: 68.55%; top: 83.1%; display: none;" value="{{ZES_CV_701C_V_DC}}" disabled>
  <input id="ZES_CV_701C_P_DC" type="text" class="GreenColor2" style="left: 68.55%; top: 87.7%; display: none;" value="{{ZES_CV_701C_P_DC}}" disabled>
  <input id="ZES_CV_701C_Counter" type="text" class="GreenColor2" style="left: 68.55%; top: 91.9%; display: none;" value="{{ZES_CV_701C_Counter}}" disabled>

  <input id="ZES_CV_701B_P_AC" type="text" class="GreenColor2" style="left: 72.6%; top: 74.25%; display: none;" value="{{ZES_CV_701B_P_AC}}" disabled>
  <input id="ZES_CV_701B_DC" type="text" class="GreenColor2" style="left: 56.7%; top: 92.65%;" value="{{ZES_CV_701B_DC}}">
  <input id="ZES_CV_701B_V_DC" type="text" class="GreenColor2" style="left: 72.6%; top: 83.1%; display: none;" value="{{ZES_CV_701B_V_DC}}" disabled>
  <input id="ZES_CV_701B_P_DC" type="text" class="GreenColor2" style="left: 72.6%; top: 87.7%; display: none;" value="{{ZES_CV_701B_P_DC}}" disabled>
  <input id="ZES_CV_701B_Counter" type="text" class="GreenColor2" style="left: 72.6%; top: 91.9%; display: none;" value="{{ZES_CV_701B_Counter}}" disabled>

  <input id="ZES_CV_701A_P_AC" type="text" class="GreenColor2" style="left: 76.55%; top: 74.25%; display: none;" value="{{ZES_CV_701A_P_AC}}" disabled>
  <input id="ZES_CV_701A_DC" type="text" class="GreenColor2" style="left: 60.55%; top: 92.65%;" value="{{ZES_CV_701A_DC}}" disabled>
  <input id="ZES_CV_701A_V_DC" type="text" class="GreenColor2" style="left: 76.55%; top: 83.1%; display: none;" value="{{ZES_CV_701A_V_DC}}" disabled>
  <input id="ZES_CV_701A_P_DC" type="text" class="GreenColor2" style="left: 76.55%; top: 87.7%; display: none;" value="{{ZES_CV_701A_P_DC}}" disabled>
  <input id="ZES_CV_701A_Counter" type="text" class="GreenColor2" style="left: 76.55%; top: 91.9%; display: none;" value="{{ZES_CV_701A_Counter}}" disabled>

  <div id="pump90_13" style="position: absolute; top: 63.85%; left: 64.25%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>
  <input id="ZES_Pump_P701A_Flow" type="text" class="GreenColor2" style="left: 66.55%; top: 63.9%;" value="{{ZES_Pump_P701A_Flow}}" disabled>

  <div id="pump90_14" style="position: absolute; top: 63.85%; left: 72.75%; width: 2.64%;">
    <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
  </div>
  <input id="ZES_Pump_P701B_Flow" type="text" class="GreenColor2" style="left: 75.1%; top: 63.9%;" value="{{ZES_Pump_P701B_Flow}}" disabled>


  <div id="induction_bake1" style="position: absolute; top: 53.8%; left: 81%; width: 16%;">
    <img src="assets/animation/induction_bake2/bake_block001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block010.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block011.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block012.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
  </div>
  <input id="IB_F801_T" type="text" class="T_vg" style="left: 81.4%; top: 53.3%;" value="{{IB_F801_T_ib}}" disabled>

  <div id="induction_bake2" style="position: absolute; top: 68.7%; left: 81.5%; width: 16%;">
    <img src="assets/animation/induction_bake/induction_bake_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
    <img src="assets/animation/induction_bake/induction_bake_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_010.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_011.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_012.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_013.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_014.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake/induction_bake_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
  </div>
  <input id="IB_F802_T" type="text" class="T_vg" style="left: 81.4%; top: 67.4%;" value="{{IB_F802_T_ib}}" disabled>

  <div id="induction_bake3" style="position: absolute; top: 82.5%; left: 81.5%; width: 16%;">
    <img src="assets/animation/induction_bake2/bake_block001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block007.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block008.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block009.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block010.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block011.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block012.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
    <img src="assets/animation/induction_bake2/bake_block_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
  </div>
  <input id="IB_F802_T" type="text" class="T_vg" style="left: 81.4%; top: 81.4%;" value="{{IB_F803_T_ib}}" disabled>


  <input id="Energy_Shop_Q_water1" type="text" class="GreenColor2" style="left: 25.1%; top: 96.6%;" value="{{Energy_Shop_Q_water1}}" disabled>
  <input id="Energy_Shop_Q_water2" type="text" class="GreenColor2" style="left: 32.2%; top: 96.6%;" value="{{Energy_Shop_Q_water2}}" disabled>

  <input id="Energy_Shop_Q_O2_Mechel" type="text" class="GreenColor2" style="left: 51.9%; top: 96.6%;" value="{{Energy_Shop_Q_O2_Mechel}}" disabled>
  <input id="Energy_Shop_Q_O2" type="text" class="GreenColor2" style="left: 70.0%; top: 96.6%;" value="{{Energy_Shop_Q_O2}}" disabled>
  <input id="Energy_Shop_Q_gas" type="text" class="GreenColor2" style="left: 85.9%; top: 96.6%;" value="{{Energy_Shop_Q_gas}}" disabled>


</div>


  <!--<p>{{serv.runChartLoad}}</p>-->


  <div id="showKs1" style="position: relative; top: 0px; left: 0px; width: 100%; display: none;">
     n
    ks
    <app-ks1 (switchBlockAnimation)="switchBlockAnimation($event)"></app-ks1>
  </div>

  <div id="showKs2" style="position: relative; top: 0px; left: 0px; width: 100%; display: none;">
    <app-ks2 (switchBlockAnimation)="switchBlockAnimation($event)"></app-ks2>
  </div>



</div>




