.deployButton {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: solid 2px #feb41b;
  z-index: 999;
  cursor: pointer;
}

.unDeployButton {
  position: fixed;
  right: 80px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: double 5px #feb41b;
  z-index: 999;
  cursor: pointer;
}


.equipmentElement {

}

/*
.equipmentElement:hover {
    border: solid 1px rgba(255, 255, 255, 0.2);
}
    */

.Q_air {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.Q_O2 {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(0,255,255);
  font-size: 10px;
}

.T_vg {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(255,255,0);
  font-size: 10px;
}

.Load {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(255,161,0);
  font-size: 10px;
}

.GreenColor {
  position: absolute;
  width: 2.6%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(0,255,0);
  font-size: 10px;
}

.GreenColor2 {
  position: absolute;
  width: 3.9%;
  height: 1.7%;
  background: none;
  border: none;
  text-align: center;
  color: rgb(0,255,0);
  font-size: 10px;
}


.streak {
  position: absolute;
  border-top: solid 1px #aaa;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  height: 8%;
  width: 0.7%;
}


.header_button {
  position: absolute;
  z-index: 800;
  cursor: pointer;
}
.header_button:hover {
    opacity: 0.5;
}

.header_button_noactive {
  position: absolute;
  z-index: 800;
  cursor: pointer;
}


.left_right_scroll {
  width: 50px;
  height: 100%;
  background: rgba(0,0,0,0.0);
  z-index: 992;
  transition: 0.2s;
}

  .left_right_scroll:hover {
    background: rgba(0,0,0,0.1);
  }


.LS_thickener {
  border: solid 1px rgb(100,100,100);
}


.fontVIU {
  width: 3.7%;
  padding: 1px 3px 0px 3px;
  color: rgb(255,161,0);
  font-size: 9px;
  z-index: 5;
  text-align: center;
  cursor: pointer;
}
.fontVIU:hover {
  background: rgb(80,80,80);
  border-radius: 50%;
}
