<table>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="basic_template">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <tr>
        <!-- use a disabled button to provide padding for tree leaf -->
        <td width="50px">
          <button mat-icon-button disabled class="icon_button"></button>
        </td>
        <td><input type="checkbox"/></td>
        <td width="300px">
          {{node.name}}
        </td>
        <!--<td width="300px">
          {{node.description}}
        </td>
        <td>
          <a [routerLink]="['/historian', node.tag]">
            {{node.tag}}
          </a>
        </td>-->
        </tr>
    </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <tr>
        <td width="75px">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
        </td>
        <td><input type="checkbox" /></td>
        <td width="300px">
          {{node.name}}
        </td>
        <!--<td>
          {{node.description}}
        </td>
        <td>
          <a [routerLink]="['/historian', node.tag]">
            {{node.tag}}
          </a>
        </td>-->
      </tr>
    </mat-tree-node>
  </mat-tree>
</table>
