
<p class="header_text">Предупреждения</p>


<div class="div_table" style="position: absolute;  right: 30px; top: 20px;">
  <div class="div_table_row">
    <div class="div_table_cell" style="padding-right: 5px;">
      <label class="instruct_text">Дата:</label>
    </div>
    <div class="div_table_cell">
      <input id="curDate" type="date" class="date_time" (input)="removeDate()" />
    </div>
  </div>
</div>


<div class="div_table" style="width: 100%; border-top: solid 1px #feb41b; margin-bottom: 20px;" >
  <div class="div_table_row row_number">
    <div class="div_table_cell instruct_text" style="width: 170px;">
      Дата и время
    </div>
    <!--
    <div class="div_table_cell instruct_text">
      Сообщения
    </div>
    -->
    <div class="div_table_cell instruct_text">
      Сообщения
    </div>
    <div class="div_table_cell instruct_text" style="width: 170px;">
      Пользователи
    </div>
    <div class="div_table_cell instrutt_text">
    </div>
  </div>
  <div class="div_table_row row_number" *ngFor="let alarms of treeParams.arrAlarms" >
    <div class="div_table_cell" [ngClass]="{ colorAlarmText: !alarms.ack }" >
      {{alarms.viewTime}}
    </div>
    <!--
    <div class="div_table_cell" [ngClass]="{ colorAlarmText: !alarms.ack }" >
      {{alarms.message}}
    </div>
    -->
    <div class="div_table_cell" [ngClass]="{ colorAlarmText: !alarms.ack }" >
      {{alarms.translate}}
    </div>
    <div class="div_table_cell">
      {{alarms.ackBy}}
    </div>
    <div class="div_table_cell" style="position: relative; width: 30px;">
      <p class="tick" [ngClass]="{ tick_display: alarms.ack }" (click)="setAcknowledgement(alarms.message, alarms.eventTime)">
        &#10004;
      </p>
    </div>
  </div>
</div>



<!--
  

<button (click)="onButtonClick($event)">Test</button>
<table id="tAlarms" class='table'>
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Время</th>
      <th>Источник</th>
      <th>Условие</th>
      <th>Граница</th>
      <th>Значение</th>
      <th>Тип</th>
      <th>Комментарий</th>
      <th>Условие источника</th>
      <th>Сообщение</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of arrAlarms; let i = index">
      <td (click)="onAlarmClick(i)">
        <span class='glyphicon glyphicon-list-alt'></span>
      </td>
      <td>{{ x.id }}</td>
      <td>{{ x.eventTime }}</td>
      <td>{{ x.sourceProcess }}</td>
      <td>{{ x.condition }}</td>
      <td>{{ x.limit }}</td>
      <td>{{ x.value }}</td>
      <td>{{ x.type }}</td>
      <td>{{ x.comment }}</td>
      <td>{{ x.sourceCondition }}</td>
      <td>{{ x.message }}</td>
    </tr>
  </tbody>
</table>

  -->
