
.header_text {
  font-size: 25px;
  font-weight: bold;
  color: #999;
  padding: 15px;
}

.div_table {
  display: table;
  border-spacing: 0px;
  vertical-align: text-bottom;
}

.div_table_row {
  display: table-row;
  vertical-align: text-bottom;
}


.row_number:nth-child(2n) {
  background: rgb(245,245,245);
}

  .row_number:nth-child(2n) .div_table_cell {
    border-left: solid 2px #fff;
    padding: 5px 0px 5px 20px;
  }

.row_number:nth-child(2n+1) .div_table_cell {
  border-left: solid 1px #eee;
  padding: 5px 0px 5px 20px;
}

.row_number:nth-child(1) .div_table_cell {
  font-weight: bold;
  padding: 10px 5px 10px 20px;
}


.div_table_cell {
  display: table-cell;
  vertical-align: text-bottom;
}

.div_table_row:nth-child(1) {
  font-weight: bold;
}


.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.instruct_text {
  margin-left: 10px;
  color: #999;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}


.tick {
  position: absolute;
  left: 3px;
  display: inline;
  color: #fff;
  font-size: 12px;
  background: red;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
  border-radius: 100%;
  font-weight: bold;
}

.tick_display {
    display: none;
}

.colorAlarmText {
    color: red;
}




