<div class="header_toggle" (click)="unhideHeadMenu()">
  <div></div>
  <div></div>
  <div></div>
</div>

<div id="addMenu"
     style="position: absolute; display: inline-block; left: 0px; background: #eee; top: -200px; border: solid 2px #eee; z-index: 999;"
     (mouseout)="outMenu()">
  <ul style="position: relative;" (mouseover)="getMenu()">
    <li id="editor">
      <a class="navbar-brand" routerLink="/editor/{{pageParams.department}}" (click)="goto('editor'); unhideHeadMenu(); outMenu()"><span style="font-size: 11px; font-weight: bold;">РАПОРТ ЦЕХОВ</span></a>
    </li>
  </ul>
  <ul style="position: relative;" (mouseover)="getMenu()" >
    <li id="editor-disp">
      <a class="navbar-brand" routerLink="/editor-disp/{{pageParams.department}}" (click)="goto('editor-disp'); unhideHeadMenu(); outMenu()"><span style="font-size: 11px; font-weight: bold;">РЕДАКТИРОВАНИЕ РАПОРТА ДИСПЕТЧЕРА</span></a>
    </li>
  </ul>
  <ul style="position: relative;" (mouseover)="getMenu()">
    <li id="disp">
      <a class="navbar-brand" routerLink="/disp/{{pageParams.department}}" (click)="goto('disp'); unhideHeadMenu(); outMenu()"><span style="font-size: 11px; font-weight: bold;">РАПОРТ ДИСПЕТЧЕРА</span></a>
    </li>
  </ul>
</div>

<div id="addMenu2"
     style="position: absolute; display: inline-block; left: 0px; background: #eee; top: -200px; border: solid 2px #eee; z-index: 999;"
     (mouseout)="outMenu2()">
  <ul style="position: relative;" (mouseover)="getMenu2()">
    <li id="editor-disp">
      <a class="navbar-brand" routerLink="/ph-electrolyte-input/{{pageParams.department}}" (click)="pageParams.page = 'ph-electrolyte-input'; outMenu2()" ><span style="font-size: 13px; font-weight: bold; margin-right: 30px;">pH Zn КЭЦ</span></a>
    </li>
  </ul>
</div>

  <div id="headMenu" class="menu-nav">
    <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
    <!--<div class="collapse navbar-collapse" id="navbar-main">-->
    <ul class="nav navbar-nav">
      <li id="mnemoscheme">
        <a class="navbar-brand" routerLink="/mnemoscheme/{{pageParams.department}}" (click)="goto('mnemoscheme'); unhideHeadMenu()">МНЕМОСХЕМА</a>
      </li>
      <!--
      <li id="specifications">
        <a class="navbar-brand" routerLink="/specifications/{{pageParams.department}}" (click)="goto('specifications'); unhideHeadMenu()">ВВОД ПАРАМЕТРОВ</a>
      </li>
        -->
      <li id="archive">
        <a class="navbar-brand" routerLink="/archive/{{pageParams.department}}" (click)="goto('archive'); unhideHeadMenu()">АРХИВ</a>
      </li>
      <!--
      <li id="workorders">
        <a class="navbar-brand" routerLink="/workorders/{{pageParams.department}}" (click)="goto('workorders'); unhideHeadMenu()">ЗАДАНИЯ</a>
      </li>
        -->
      <li id="analytics">
        <a class="navbar-brand" routerLink="/analytics/{{pageParams.department}}" (click)="goto('analytics'); unhideHeadMenu()">АНАЛИЗ</a>
      </li>
      <li id="predictiveanalytics" (mouseover)="outMenu()">
        <a class="navbar-brand" routerLink="/predictiveanalytics/{{pageParams.department}}" (click)="goto('predictiveanalytics'); unhideHeadMenu()">ПРОГНОЗИРОВАНИЕ</a>
      </li>
      <li id="reports" (mouseover)="getMenu(); outMenu2()" (mouseout)="getMenu()">
        <a class="navbar-brand" routerLink="/reports/{{pageParams.department}}" (click)="goto('reports'); unhideHeadMenu()">ОТЧЕТЫ</a>
      </li>
      <li id="stk" (mouseover)="outMenu(); getMenu2()">
        <a class="navbar-brand" routerLink="/stk/{{pageParams.department}}" (click)="goto('stk'); unhideHeadMenu()">ХИМ АНАЛИЗЫ</a>
      </li>
      <li id="alarms" (mouseover)="outMenu2()">
        <a class="navbar-brand" routerLink="/alarms/{{pageParams.department}}" (click)="goto('alarms'); unhideHeadMenu()">АЛАРМЫ</a>
      </li>
      <!--
      <li id="knowledge">
        <a class="navbar-brand" routerLink="/knowledge/{{pageParams.department}}" (click)="goto('knowledge'); unhideHeadMenu()">БАЗА ЗНАНИЙ</a>
      </li>
        -->
      <!--
        <li style="display: block;">
          {{pageParams.page}} {{pageParams.department}}
        </li>
      -->

    </ul>

    <img src="assets/logo_Zinc.svg" style="width: 120px; float: right; margin-top: 5px;">
    <!--
     <ul class="nav navbar-nav settings" >
       <li style = "border: solid 1px #eee;">
         <a class="navbar-brand" routerLink="/tools" (click)="unhideHeadMenu()">
           <span class='glyphicon glyphicon-wrench'></span>
         </a>
       </li>
       <li style = "border: solid 1px #eee;">
         <a class="navbar-brand" routerLink="/login" (click)="unhideHeadMenu()">
           <span class='glyphicon glyphicon-off'></span>
         </a>
       </li>
     </ul>
      -->
  </div>
