<p class="header_text">Отчеты</p>

<!--<p>Опубликованные отчеты</p>-->

<p *ngIf="!reports"><em>Загрузка...</em></p>

<!--
  <div class="div_table" style="width: 100%; border-collapse: collapse; margin-bottom: 10px;" *ngIf="reports">
    <div class="div_table_row">
      <div class="div_table_cell" style="width: 3%;" ></div>
      <div class="div_table_cell" style="width: 30%; font-weight: bold;">№ пп</div>
      <div class="div_table_cell" style="width: 50%; font-weight: bold;">Название</div>
      <!--
      <td>Дата</th>
      <td>Смена</th>
        -->
<!--
      <div class="div_table_cell" style="width: 10%;"></div>
    </div>
  </div>
-->

<div *ngFor="let folder of reports; let i = index;" class="first_row_hidden" >
  <div class="div_table"  style="width: 100%; border-top: solid 1px #eee; border-collapse: collapse;" >
    <div class="div_table_row head_tab" (click)="unhideTree(i)" >
      <div class="div_table_cell" style="width: 3%;">
        <a id="arrow_{{i+1}}" class="arrow">
          >
        </a>
      </div>
      <!--<div class="div_table_cell" style="width: 30%">{{ folder.id }}</div>-->
      <div class="div_table_cell" style="width: 70%; font-size: 14px; font-weight: bold; color: #999;">{{ folder.description }}</div>
      <!--
      <td>{{ folder.date }}</td>
      <td>{{ folder.shift }}</td>
        -->
      <div class="div_table_cell" style="width: 10%;">
        <a href="{{reports[i].url}}" target="_blank" >
          <span class='glyphicon glyphicon-th-list' style="color: #feb41b; float: right; margin-right: 15px; cursor: pointer;"></span>
        </a>
      </div>
    </div>
  </div>
  <div id="content_reports_{{i}}" click="" class="div_table" style="width: 100%; margin-top: 5px; margin-bottom: 5px; display: none;" >
    <div class="div_table_row row_number" *ngFor="let report of folder.reports; let j=index;">
      <div class="div_table_cell" style="width: 4%;"></div>
      <div class="div_table_cell" style="width: 4%;">{{j+1}}</div>
      <div class="div_table_cell" style="font-size: 13px;">
        <a href="{{report.url}}" target="_blank"><span style="cursor: pointer;">{{report.name}}</span></a>
      </div>
    </div>
    </div>
</div>

