
.header_text {
  font-size: 25px;
  font-weight: bold;
  color: #999;
  padding: 15px;
}

.div_table {
  display: table;
  border-spacing: 3px;
  vertical-align: text-bottom;
}

.div_table_row {
  display: table-row;
  vertical-align: text-bottom;
}

.div_table_cell {
  display: table-cell;
  vertical-align: text-bottom;
}

.arrow {
  color: #feb41b;
  padding: 1px 4px 1px 4px;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 100%;
  font-size: 20px;
}

.head_tab {
  background: rgba(0,0,0,0.01);
  margin-bottom: 10px;
  cursor: pointer;
}

  .head_tab:hover {
    background: rgba(0,0,0,0.05);
  }

.row_number:nth-child(2n) {
  background: rgb(245,245,245);
}
.row_number:nth-child(2n+1) .div_table_cell {
  border-left: solid 1px #eee;
}

.first_row_hidden:nth-child(2) {
    display: none;
}
