.ck p {
  color: red;
}

.header_text {
  font-size: 25px;
  font-weight: bold;
  color: #999;
  padding: 15px;
}


.div_table {
  display: table;
  border-spacing: 3px;
  vertical-align: text-bottom;
}

.div_table_row {
  display: table-row;
  vertical-align: text-bottom;
}

.div_table_cell {
  display: table-cell;
  vertical-align: text-bottom;
}

.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.toolbar_block {
  position: relative;
  display: block;
  width: 100%;
  float: right;
  background: rgb(245,245,245);
}

.shop_button {
  padding: 2px 6px 2px 6px;
  border: solid 0.1px #aaa;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
  background: rgb(250,250,250);
  transition: 0s;
}

  .shop_button:hover {
    background: rgb(220,220,220);
  }

.shop_button_onreport {
  padding: 2px 6px 2px 6px;
  border: solid 0.1px rgb(0,150,0);
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
  background: rgb(150,255,150);
  transition: 0s;
}

  .shop_button_onreport:hover {
    background: rgb(100,255,100);
  }

  .shop_button_hidden {
      display: none;
  }

.instruct_text {
  margin-left: 10px;
  color: #999;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
