.header_text {
  font-size: 25px;
  font-weight: bold;
  color: #999;
  padding: 15px;
}

.report {
    margin-top: 30px;
}

#report h4, h3, h2 {
  color: rgb(150, 0, 0);
  margin-left: 20px;
  background: rgb(250, 250, 250);
  line-height: 25px;
  margin-top: -10px;
  margin-bottom: 0px;
}

#report table, p {
    margin-left: 20px;
    width: 100%;
}

#report td {
  border: solid 1px #000;
  padding-left: 15px;
}

#report p, li {
  margin-bottom: 0px;
  line-height: 16px;
  font-size: 14px;
}

  #report p:nth-child(2) {
  }

/*
#importStyle tr:nth-child(1) td {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: rgb(150, 0, 0);
}
*/
/*
#importStyle tr:nth-last-child(1) td {
  color: rgb(150, 0, 0);
  font-size: 16px;
  font-weight: bold;
}
    */

.div_table {
  display: table;
  border-spacing: 3px;
  vertical-align: text-bottom;
}

.div_table_row {
  display: table-row;
  vertical-align: text-bottom;
}

.div_table_cell {
  display: table-cell;
  vertical-align: text-bottom;
}

.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.start_button {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background: #fff;
  transition: 0.5s;
}

  .start_button:hover {
    background: #feb41b;
    color: #fff;
  }


.instruct_text {
  margin-left: 10px;
  color: #999;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
