<p class="header_text">Рапорт диспетчера</p>

<div class="div_table" style="position: absolute; right: 30px; top: 20px;">
  <div class="div_table_row">
    <div class="div_table_cell" style="padding-right: 5px;" >
      <label class="instruct_text">Дата:</label>
    </div>
    <div class="div_table_cell">
      <input id="curDate" type="date" class="date_time" (input)="onShowReport()" />
    </div>
    <div class="div_table_cell">
      <label class="instruct_text" style="padding-right: 5px;" >Смена:</label>
    </div>
    <div class="div_table_cell" style="padding-right: 20px;">
      <select id="curShift" class="date_time" (input)="onShowReport()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <!--
    <div>
      <input type="button" value="Показать" class="start_button" (click)="onShowReport()" >
    </div>
      -->
  </div>
</div>

<div id="report" class="report">
  <!--<div id="content" class="content">
  </div>-->
</div>

