<div id="schemeWindow" style="position: relative; width: 100%; height: 100%; top: 0px; left: 0px; background: rgb(80, 80, 80); overflow: auto; ">

  <div id="deployButton" (click)="deployScheme()" class="deployButton">
  </div>

  <div id="InTouchWeb" style="position: relative; top: 0px; left: 0px; width: 100%; height: auto; ">


    <svg id="obj"
         class="Obj"
         style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 30.6%;
                 left: 13.21%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
    </svg>

    <svg id="Vysh"
         class="Vysh"
         style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 47.4%;
                 left: 23.1%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
    </svg>

    <svg id="Velc"
         class="Velc"
         style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 34.8%;
                 left: 69.8%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
    </svg>

    <svg id="Gidromet"
         class="Gidromet"
         style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 85.25%;
                 left: 39.7%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
    </svg>

    <svg id="KEC"
         class="KEC"
         style=" position: absolute;
                 width: 10.95%;
                 height: 9.5%;
                 top: 77.25%;
                 left: 53.05%;
                 background: rgba(0, 0, 0, 0.25);
                 z-index: 5;
         ">
    </svg>



    <img src="assets/scale_screen.png" style="position: relative; top: 0px; left: 0px; width: 100%; ">

    <img src="assets/home_main1.svg" style="position: absolute; top: 0px; left: 0px; width: 100%;">


    <div id="ks1" style="position: absolute; top: 9.3%; left: 3.6%; width: 7.9%; height: 12.8%;" class="equipmentElement" (click)="showKs1()">
      <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="ks1.Q_air" type="text" class="Q_air" style="left: 3.5%; top: 22.5%;" value="{{ks1_Q_air}}" disabled>
    <input id="ks1.Q_air" type="text" class="Q_O2" style="left: 8.4%; top: 22.5%;" value="{{ks1_Q_O2}}" disabled>

    <div id="ks2" style="position: absolute; top: 9.3%; left: 14.6%; width: 7.9%; height: 12.8%;" class="equipmentElement" (click)="showKs2()">
      <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_006.svg" style="    position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="ks2.Q_air" type="text" class="Q_air" style="left: 14.4%; top: 22.5%;" value="{{ks2_Q_air}}" disabled>
    <input id="ks2.Q_air" type="text" class="Q_O2" style="left: 19.3%; top: 22.5%;" value="{{ks2_Q_O2}}" disabled>

    <div id="ks3" style="position: absolute; top: 9.3%; left: 25.5%; width: 7.9%; height: 12.8%;">
      <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="ks3.Q_air" type="text" class="Q_air" style="left: 25.3%; top: 22.5%;" value="{{ks3_Q_air}}" disabled>
    <input id="ks3.Q_air" type="text" class="Q_O2" style="left: 30.2%; top: 22.5%;" value="{{ks3_Q_O2}}" disabled>

    <div id="ks4" style="position: absolute; top: 25.4%; left: 3.6%; width: 7.9%;  height: 12.8%;  ">
      <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="ks4.Q_air" type="text" class="Q_air" style="left: 3.5%; top: 38.6%;" value="{{ks4_Q_air}}" disabled>
    <input id="ks4.Q_air" type="text" class="Q_O2" style="left: 8.4%; top: 38.6%;" value="{{ks4_Q_O2}}" disabled>

    <div id="ks5" style="position: absolute; top: 25.4%; left: 25.5%; width: 7.9%; height: 12.8%; ">
      <img src="assets/animation/obj/f_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/obj/f_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/f_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/obj/out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="ks5.Q_air" type="text" class="Q_air" style="left: 25.3%; top: 38.6%;" value="{{ks5_Q_air}}" disabled>
    <input id="ks5.Q_air" type="text" class="Q_O2" style="left: 30.2%; top: 38.6%;" value="{{ks5_Q_O2}}" disabled>



    <input id="SAS_System3.SO2Concentration" type="text" class="GreenColor" style="left: 36.7%; top: 11.5%;" value="{{System3_SO2Concentration}}">
    <input id="SAS_System4.SO2Concentration" type="text" class="GreenColor" style="left: 41.9%; top: 11.5%;" value="{{System4_SO2Concentration}}">
    <input id="SAS_System5.SO2Concentration" type="text" class="GreenColor" style="left: 47.2%; top: 11.5%;" value="{{System5_SO2Concentration}}">
    <input id="SAS_System3.GasLoad" type="text" class="GreenColor" style="left: 36.7%; top: 26.3%;" value="{{System3_GasLoad}}">
    <input id="SAS_System4.GasLoad" type="text" class="GreenColor" style="left: 41.9%; top: 26.3%;" value="{{System4_GasLoad}}">
    <input id="SAS_System5.GasLoad" type="text" class="GreenColor" style="left: 47.2%; top: 26.3%;" value="{{System5_GasLoad}}">
    <input id="SAS_System3.GasConcentration" type="text" class="GreenColor" style="left: 36.7%; top: 30.9%;" value="{{System3_GasConcentration}}">
    <input id="SAS_System4.GasConcentration" type="text" class="GreenColor" style="left: 41.9%; top: 30.9%;" value="{{System4_GasConcentration}}">
    <input id="SAS_System5.GasConcentration" type="text" class="GreenColor" style="left: 47.2%; top: 30.9%;" value="{{System5_GasConcentration}}">



    <div id="vp1" style="position: absolute; top: 11.75%; left: 52.4%; width: 15.4%; ">
      <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="vp1.Load" type="text" class="Load" style="left: 58.7%; top: 10.6%;" value="{{vp1_Load}}">
    <input id="vp1.T_vg" type="text" class="T_vg" style="left: 63.6%; top: 11.2%;" value="{{vp1_T_vg}}">

    <div id="vp2" style="position: absolute; top: 24.2%; left: 52.4%; width: 15.4%; ">
      <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="vp2.Load" type="text" class="Load" style="left: 58.7%; top: 23%;" value="{{vp2_Load}}">
    <input id="vp2.T_vg" type="text" class="T_vg" style="left: 63.6%; top: 23.6%;" value="{{vp2_T_vg}}">

    <div id="vp3" style="position: absolute; top: 36.6%; left: 52.4%; width: 15.4%; ">
      <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="vp3.Load" type="text" class="Load" style="left: 58.7%; top: 35.4%;" value="{{vp3_Load}}">
    <input id="vp3.T_vg" type="text" class="T_vg" style="left: 63.6%; top: 36%;" value="{{vp3_T_vg}}">

    <div id="vp4" style="position: absolute; top: 11.75%; left: 67.1%; width: 15.4%; ">
      <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="vp4.Load" type="text" class="Load" style="left: 73.5%; top: 10.6%;" value="{{vp4_Load}}">
    <input id="vp4.T_vg" type="text" class="T_vg" style="left: 78.4%; top: 11.2%;" value="{{vp4_T_vg}}">

    <div id="vp5" style="position: absolute; top: 24.2%; left: 81.9%; width: 15.4%; ">
      <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_006.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="vp5.Load" type="text" class="Load" style="left: 88%; top: 23%;" value="{{vp5_Load}}">
    <input id="vp5.T_vg" type="text" class="T_vg" style="left: 92.9%; top: 23.6%;" value="{{vp5_T_vg}}">

    <div id="vp6" style="position: absolute; top: 36.6%; left: 81.9%; width: 15.4%; ">
      <img src="assets/animation/velc/velc_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/velc_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_004.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_005.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_006.svg" style="    position: absolute; left: 0px; top: 0px; width: 100%; display: none;" />
      <img src="assets/animation/velc/velc_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block;" />
    </div>
    <input id="vp6.Load" type="text" class="Load" style="left: 88%; top: 35.4%;" value="{{vp6_Load}}">
    <input id="vp6.T_vg" type="text" class="T_vg" style="left: 92.9%; top: 36%;" value="{{vp6_T_vg}}">


    <div id="larox1" style="position: absolute; top: 12%; left: 84.8%; width: 4.9%;">
      <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="larox2" style="position: absolute; top: 12%; left: 90.4%; width: 4.9%;">
      <img src="assets/animation/velc/larox_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/larox_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/velc/larox_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>


    <!--

    <div id="pump1" style="position: absolute; top: 50.05%; left: 3.2%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump2" style="position: absolute; top: 50.05%; left: 4.8%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump3" style="position: absolute; top: 50.05%; left: 6.4%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump4" style="position: absolute; top: 50.05%; left: 8%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>

    <div id="pump5" style="position: absolute; top: 50.05%; left: 9.65%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>

    <div id="pump6" style="position: absolute; top: 50.05%; left: 11.25%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump7" style="position: absolute; top: 50.05%; left: 12.85%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump8" style="position: absolute; top: 50.05%; left: 14.4%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump9" style="position: absolute; top: 50.05%; left: 16.05%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump10" style="position: absolute; top: 50.05%; left: 17.65%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump11" style="position: absolute; top: 50.05%; left: 19.3%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>

    <div id="pump12" style="position: absolute; top: 50.05%; left: 20.94%; width: 1.36%;">
      <img src="assets/animation/pump/pump_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>

     -->



    <div id="pump90_1" style="position: absolute; top: 61.7%; left: 67.2%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>
    <input id="Pump_P510B_Flow" type="text" class="GreenColor" style="left: 70.4%; top: 59.8%;" value="{{KEC_Pump_P510B_Flow}}">

    <div id="pump90_2" style="position: absolute; top: 54.3%; left: 67.2%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>
    <input id="Pump_P510A_Flow" type="text" class="GreenColor" style="left: 70.4%; top: 52.4%;" value="{{KEC_Pump_P510A_Flow}}">

    <div id="pump90_3" style="position: absolute; top: 69.38%; left: 59.4%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>
    <input id="Pump_P703A_Flow" type="text" class="GreenColor" style="left: 62.5%; top: 67.5%;" value="{{KEC_Pump_P703A_Flow}}">

    <div id="pump90_4" style="position: absolute; top: 76.9%; left: 59.4%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: block; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: none; " />
    </div>
    <input id="Pump_P703B_Flow" type="text" class="GreenColor" style="left: 62.5%; top: 74.9%;" value="{{KEC_Pump_P703B_Flow}}">

    <div id="pump90_5" style="position: absolute; top: 68.85%; left: 32.2%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_6" style="position: absolute; top: 72.7%; left: 32.2%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_7" style="position: absolute; top: 76.45%; left: 32.2%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_8" style="position: absolute; top: 19.65%; left: 4.33%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_9" style="position: absolute; top: 35.65%; left: 4.36%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_10" style="position: absolute; top: 19.65%; left: 15.3%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_11" style="position: absolute; top: 19.65%; left: 26.25%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>

    <div id="pump90_12" style="position: absolute; top: 35.75%; left: 26.25%; width: 2.64%;">
      <img src="assets/animation/pump/pump_90_001.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_002.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_003.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; display: none; " />
      <img src="assets/animation/pump/pump_90_out.svg" style="position: absolute; left: 0px; top: 0px; width: 100%; opacity: 0.5; display: block; " />
    </div>


    <input id="HMS_Pump_neutral_solution_Flow" type="text" class="GreenColor" style="left: 30.1%; top: 66.9%;" value="{{HMS_Pump_neutral_solution_Flow}}">
    <input id="HMS_specific_weight" type="text" class="GreenColor" style="left: 33.6%; top: 86.9%;" value="{{HMS_specific_weight}}">
    <input id="HMS_total_weight" type="text" class="GreenColor" style="left: 33.6%; top: 90.8%;" value="{{HMS_total_weight}}">




  </div>

</div>
