<h1>Мнемосхема</h1>

<p></p>

<p *ngIf="!equipments"><em>Загрузка...</em></p>

<table class='table' *ngIf="equipments">
  <thead>
    <tr>
      <th>ID</th>
      <th>Parent</th>
      <th>Название</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipment of equipments">
      <td>{{ equipment.id }}</td>
      <td>{{ equipment.parent }}</td>
      <td>{{ equipment.name }}</td>
      <td>{{ equipment.description }}</td>
    </tr>
  </tbody>
</table>
<iframe src="http://intma-sp2017u2/InTouchWeb | safe"></iframe>
