  .filter_button {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
  }

  .positive_period {
    position: relative;
    display: table;
    width: 100%;
    background: rgba(0, 150, 0, 0.1);
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    cursor: pointer; 
  }
  .positive_period span {
    color: rgb(0, 200, 0);
  }
  .positive_period .triangle {
    border-top: 12px solid rgb(0, 200, 0);
  }
  .positive_period:hover {
    background: rgba(0, 150, 0, 0.15);
  }

  .negative_period {
    position: relative;
    display: table;
    width: 100%;
    background: rgba(150, 0, 0, 0.1);
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  .negative_period span {
    color: rgb(200, 0, 0);
  }
  .negative_period .triangle {
    border-top: 12px solid rgb(200, 0, 0);
  }
    .negative_period:hover {
    background: rgba(150, 0, 0, 0.15);
  }


  .triangle {
    position: absolute;
    bottom: -5px;
    border: 12px solid transparent;
    width: 0px;
  }



.all_span {
  display: block;
  float: left;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
}


.list_prms {
  position: relative;
  left: 72px;
  width: calc(100% - 72px);
  border-left: solid 1px #ddd;
  display: none;
}


.object_header {
  padding: 5px 10px 5px 10px;
  position: relative;
  background: rgb(248, 248, 248);
  border-left: solid 1px #ddd;
  font-size: 18px;
  color: #777;
  cursor: pointer;
}
.object_header:hover {
    background: rgb(242, 242, 242);
}

.row_prm {
  font-size: 18px;
  padding: 3px 10px 3px 20px;
  cursor: pointer;
}
.row_prm:hover {
    background: rgb(247, 247, 247);
}

.deploy_row_prm {
  position: relative;
  width: 100%;
  height: 150px;
  display: none;
}
