

<div id="fixedPanel" class="table_select toolbar_block" style="position: fixed; left: 200px; top: 5px; z-index: 999; width: 80%; display: none;">
  <div class="div_table" style="width: 100%; ">
    <div class="div_table_row" style="width: 90%;">
      <div class="div_table_cell" style="padding-right: 15px;">
        <div style="position: relative; display: block; background: #fff; border: solid 1px #feb41b; z-index: 900; ">
          <svg id="chart2" class="chart2" width="100%" height="250"></svg>
        </div>
      </div>
      <div class="div_table_cell" style=" width: 300px;">
        <div class="div_table">
          <div class="div_table_row">
            <div class="div_table_cell">
              <label class="header_text">Показатели</label>
              <select id="sampleTypes" (change)="onChangedCode($event)" class="date_time" style="float: right;  width: 100%;">
                <option *ngFor="let n of arrSampleTypes | keyvalue" [value]="n.key">{{n.key}} {{n.value}}</option>
              </select>
            </div>
          </div>
          <div class="div_table_row">
            <div class="div_table_cell" style="padding-top: 20px; float: right;">
              <p class="instruct_text">Начальная дата: </p>
              <input type="date" id="from2" class="date_time" name="fromDate" (change)="onChangedFromDate($event)" />
            </div>
          </div>
          <div class="div_table_row">
            <div class="div_table_cell" style="padding-top: 20px; float: right;">
              <p class="instruct_text">Конечная дата: </p>
              <input type="date" id="to2" class="date_time" name="toDate" (change)="onChangedToDate($event)" />
            </div>
          </div>
          <div class="div_table_row">
            <div class="div_table_cell" style="padding-top: 20px;">
              <button id="bGetResults" title="Get results" class="start_button" (click)="OnClickGetResults()" style="float: right;">Вывод данных</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="div_table" style="margin-left: -10px;">
    <div class="div_table_row fixed_row">
      <div class="div_table_cell cell_width"></div>
      <div class="div_table_cell cell_width">Компонент</div>
      <div class="div_table_cell cell_width">Смена</div>
      <div class="div_table_cell cell_width">Печь</div>
      <div class="div_table_cell cell_width" *ngFor="let x of arrDates">{{ (x).toLocaleString().slice(0,10) }}</div>
    </div>
  </div>
    -->
</div>





<p class="header_text">СТК Химанализы</p>

<div id="relativePanel" class="table_select toolbar_block">
  <img  [style.display]="dispExcel?'block':'none'"  (click)="exportToExcel()" src="assets/excel_logo.svg" style="position: absolute; right: 10px; top: 10px; width: 40px; cursor: pointer; ">
  <div class="div_table" style="width: 100%; ">
    <div class="div_table_row" style="width: 90%;">
      <div class="div_table_cell" style="padding-right: 15px;">
        <div style="position: relative; display: block; width: 100%; background: #fff; border: solid 1px #feb41b; z-index: 900; ">
          <svg id="chart" class="chart" width="100%" height="250"></svg>
        </div>
      </div>
      <div class="div_table_cell" style=" width: 300px;">
        <div class="div_table">
          <div class="div_table_row">
            <div class="div_table_cell">
              <label class="header_text">Показатели</label>
              <select id="sampleTypes" (change)="onChangedCode($event)" class="date_time" style="float: right;  width: 100%;">
                <option selected="selected" value=""></option>
                <option *ngFor="let n of arrSampleTypes | keyvalue" [value]="n.key">{{n.key}} {{n.value}}</option>
              </select>
            </div>
          </div>
          <div class="div_table_row">
            <div class="div_table_cell" style="padding-top: 20px; float: right;">
              <p class="instruct_text">Начальная дата: </p>
              <input type="date" id="from" class="date_time" name="fromDate" (change)="onChangedFromDate($event)" />
            </div>
          </div>
          <div class="div_table_row">
            <div class="div_table_cell" style="padding-top: 20px; float: right;">
              <p class="instruct_text">Конечная дата: </p>
              <input type="date" id="to" class="date_time" name="toDate" (change)="onChangedToDate($event)" />
            </div>
          </div>
          <div class="div_table_row">
            <div class="div_table_cell" style="padding-top: 20px;">
              <button id="bGetResults" title="Get results" class="start_button" (click)="OnClickGetResults()" style="float: right;">Вывод данных</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="width: 100%; overflow: auto;">
  <div id="tComps" class="div_table" style="width: 100%; border-collapse: collapse; ">
    <div class="div_table_row row_number">
      <div class="div_table_cell cell_width"></div>
      <div class="div_table_cell cell_width">Компонент</div>
      <div class="div_table_cell cell_width">Смена</div>
      <div class="div_table_cell cell_width">Печь</div>
      <div class="div_table_cell cell_width" *ngFor="let x of arrDates">{{ (x).toLocaleString().slice(0,10) }}</div>
    </div>
    <div class="div_table_row row_number" *ngFor="let x of arrResults; let i = index" style="cursor: pointer;">
      <div class="div_table_cell cell_width" (click)="onCompClick(i)">
        <span class='glyphicon glyphicon-list-alt' (click)="onCompClick(i)"></span>
      </div>
      <div class="div_table_cell cell_width" style=" width: 150px;" (click)="onCompClick(i)">{{ x.name }}</div>
      <div class="div_table_cell cell_width" (click)="onCompClick(i)">{{ x.shift }}</div>
      <div class="div_table_cell cell_width" (click)="onCompClick(i)">{{ x.furnance }}</div>
      <div class="div_table_cell cell_width" (click)="onCompClick(i)" *ngFor="let t of x.values;">{{ (t.val).toLocaleString('en-us', {minimumFractionDigits: 2}) }}</div><!---->
    </div>
  </div>
</div>

<!--
{{min + ' _ ' + max}}
<br> {{arrayForAxis[0].val}}
<br> {{arrayForAxis[1].val}}

<br> {{yMin}}
  -->
