.table_select {
    width: 100%;
    margin-top: 10px;
}

.toolbar_block {
  padding: 10px 10px 10px 10px;
  position: relative;
  display: block;
  width: 100%;
  margin-top: -10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  float: right;
  background: rgb(245,245,245);
  border-bottom: solid 1px #feb41b;
  margin-bottom: 20px;
}


.instruct_text {
  display: inline;
  margin-left: 10px;
  color: #999;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}


.start_button {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background: #fff;
  transition: 0.5s;
}

  .start_button:hover {
    background: #feb41b;
    color: #fff;
  }


.div_table {
  display: table;
  border-spacing: 3px;
  vertical-align: text-bottom;
}

.div_table_row {
  display: table-row;
  vertical-align: top;
}

.row_number:nth-child(2n) {
    background: rgb(245,245,245);
}
  .row_number:nth-child(2n) .div_table_cell {
    border-left: solid 2px #fff;
    padding: 5px 0px 5px 10px;
  }
.row_number:nth-child(2n+1) .div_table_cell {
  border-left: solid 1px #eee;
  padding: 5px 0px 5px 10px;
}
.row_number:nth-child(1) .div_table_cell {
  font-weight: bold;
}

.fixed_row:nth-child(1) .div_table_cell {
  border-left: solid 2px #fff;
  padding: 5px 0px 5px 10px;
}

.div_table_cell {
  display: table-cell;
  vertical-align: top;
}

.cell_width {
    width: 120px;
}


.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.header_text {
  font-size: 25px;
  font-weight: bold;
  color: #999;
  padding: 15px;
}
