<div id="showChartDescription" style=" position: fixed; top: 0px; left: 1200px; z-index: 999; border-radius: 5px; display: none;"><!--{{varChart}}--></div>

<div id="unHiddenToolbar" class="unhidden_toolbar" style="width: 100%;">

  <div class="toolbar_block">

    <div class="toolbar_template div_table title_block">
      <div class="div_table_row" style="vertical-align: bottom;">
        <div class="div_table_cell" style="font-size: 25px; font-weight: bold; color: #999;">
          {{ title }}
        </div>
      </div>
    </div>

    <div class="tools_block">
      <div class="toolbar_template div_table select_prmt">
        <div class="div_table_row" style="vertical-align: bottom;">
          <div class="div_table_cell instruct_text">
            ВЫБОР ПАРАМЕТРОВ
          </div>
        </div>
        <div class="div_table_row" style="vertical-align: bottom;">
          <div class="div_table_cell" style="position: relative; ">

            <div style="position: absolute; top: 0px; left: 0px; height: auto; color: #999; font-size: 13px; color: #333; z-index: 1;">


              <div style="width: 150px;" (click)="treeParameters()">
                <div id="rolloverDown">
                  <div class="date_time" style="border-bottom: solid 1px #feb41b;  margin-top: 8px;"></div>
                  <div style="border: 10px solid transparent; width: 0px; margin-left: auto; margin-right: auto; border-top: 10px solid #feb41b;"></div>
                </div>
                <div id="rolloverUp" style="display: none;">
                  <div style="border: 10px solid transparent; width: 0px; margin-left: auto; margin-right: auto; border-bottom: 10px solid #feb41b;"></div>
                  <div class="date_time" style="border-bottom: solid 1px #feb41b; "></div>
                </div>
              </div>



              <div id="one_1" style="display: none; width: 350px; background: #fff; margin-left: -20px; margin-bottom: 10px; padding: 0px 10px 0px 10px; ">
                <div style="display: table-row;" *ngFor="let parameter of arrayParameters; let i=index;">
                  <div style="display: table-cell;">
                    <div style="cursor: pointer;"><a (click)="identif = i+1; unHideTree()" id="arrowOne_{{i+1}}" class="arrow">></a><input id="callObject_{{i+1}}" type="checkbox" (click)="allAttributes(i); treeParams.toggleMarkRemoveSelectedPrms()" class="checkbox_prmt" /> {{ parameter.shortDesc }}</div>
                    <div id="two_{{i+1}}" style="display: none; margin-left: 20px; ">
                      <div style="display: table-row;" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
                        <div style="display: table-cell;">
                          <div><a class="arrow">|</a><input id="callParameter_{{parameter.tagName}}_{{i+1}}" type="checkbox" class="checkbox_prmt" (click)="treeParams.toggleMarkRemoveSelectedPrms()" /> {{ descriptionParameter.description }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            
            <button class="start_button select_department" (click)="predictRequest()">Вывод</button>
          </div>
        </div>
      </div>

      <div class="toolbar_template div_table stop_block">
        <div class="div_table_row">
          <div class="div_table_cell instruct_text" style="float:left;">
            ЗАВЕРШЕНИЕ
            <input id="dateStop" type="date" (click)="updateModel()" class="date_time date_width" style="margin-top: 5px;">
          </div>
          <div class="div_table_cell instruct_text">
            <select class="date_time change_width" style="padding: 2px; float: right;">
              <option value="1" selected>1 смена</option>
              <option value="2">2 смена</option>
              <option value="3">3 смена</option>
            </select>
            <select id="timeStop" class="date_time time_width" style="padding: 2px; float: left; margin-top: 5px;">
              <option value="00:00">00</option>
              <option value="01:00">01</option>
              <option value="02:00">02</option>
              <option value="03:00">03</option>
              <option value="04:00">04</option>
              <option value="05:00">05</option>
              <option value="06:00">06</option>
              <option value="07:00">07</option>
              <option value="08:00">08</option>
              <option value="09:00">09</option>
              <option value="10:00">10</option>
              <option value="11:00">11</option>
              <option value="12:00">12</option>
              <option value="13:00">13</option>
              <option value="14:00">14</option>
              <option value="15:00">15</option>
              <option value="16:00">16</option>
              <option value="17:00">17</option>
              <option value="18:00">18</option>
              <option value="19:00">19</option>
              <option value="20:00">20</option>
              <option value="21:00">21</option>
              <option value="22:00">22</option>
              <option value="23:00">23</option>
            </select>
            <input type="text" value=":" class="colon" style="float: left; padding-top: 3px; margin-top: 5px;" />
            <input id="minStop" class="date_time minut_width" type="text" value="00" style="padding: 2px; float: left;  margin-top: 5px;" />
          </div>
        </div>
      </div>

      <div class="toolbar_template div_table start_block">
        <div class="div_table_row">
          <div class="div_table_cell instruct_text" style="float:left;">
            НАЧАЛО
            <input id="dateStart" type="date" (click)="updateModel()" class="date_time date_width" style="margin-top: 5px;">
          </div>
          <div class="div_table_cell instruct_text">
            <select class="date_time change_width" style="padding: 2px; float: right;">
              <option value="1" selected>1 смена</option>
              <option value="2">2 смена</option>
              <option value="3">3 смена</option>
            </select>
            <select id="timeStart" class="date_time time_width" style="padding: 2px; float: left;  margin-top: 5px;">
              <option value="00:00">00</option>
              <option value="01:00">01</option>
              <option value="02:00">02</option>
              <option value="03:00">03</option>
              <option value="04:00">04</option>
              <option value="05:00">05</option>
              <option value="06:00">06</option>
              <option value="07:00">07</option>
              <option value="08:00">08</option>
              <option value="09:00">09</option>
              <option value="10:00">10</option>
              <option value="11:00">11</option>
              <option value="12:00">12</option>
              <option value="13:00">13</option>
              <option value="14:00">14</option>
              <option value="15:00">15</option>
              <option value="16:00">16</option>
              <option value="17:00">17</option>
              <option value="18:00">18</option>
              <option value="19:00">19</option>
              <option value="20:00">20</option>
              <option value="21:00">21</option>
              <option value="22:00">22</option>
              <option value="23:00">23</option>
            </select>
            <input type="text" value=":" class="colon" style="float: left; padding-top: 3px; margin-top: 5px;" />
            <input id="minStart" class="date_time minut_width" type="text" value="00" style="padding: 2px; float: left;  margin-top: 5px;" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="hidden_toolbar">
  <div class="toolbar_template div_table" style="width: 100%;">
    <div class="div_table_row" style="vertical-align: bottom;">
      <div class="div_table_cell" style="font-size: 25px; font-weight: bold; width: 100%; color: #999;">
        <span id="toolbarTitle">{{ title }}</span>
        <div class="toolbar_toggle" (click)="unHideToolbarMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="div_table" style="float: right;">
  <div class="div_table_row">
    <div class="div_table_cell instruct_text">
      ПРОГНОЗИРУЕМЫЙ ПЕРИОД
    </div>
  </div>
  <div class="div_table_row">
    <div class="div_table_cell">
      <div style="float: right;">
        <input type="button" value="-" class="plus_minus_button" (click)="predictMinus()" >
        <input type="text" class="date_time predict_width" value="1" id="countPoints" >
        <input type="button" value="+" class="plus_minus_button" (click)="predictPlus()" >
      </div>
    </div>
  </div>
</div>


<input type="button" value="load" (click)="predictRequest()">
 

<div>
{{ getPredictValuesUrl }}/{{ selected_prms }}/{{ startDateTime }}/{{ stopDateTime }}/1
</div>



<!--


<div>{{selected_prms}}</div>

<br>
<br>

<div *ngFor="let select of arraySelectedPrms; let i=index;">
  <br><br>
  {{ select.tagName_name }}
  <br>
  <div>
  </div>
  <div *ngFor="let select of arrayPredictValues[i][select.tagName_name]">
    {{ select.tagName_name }} _ {{ select.dt }} _ {{ select.val }}
  </div>
</div>

    -->



<style>
  .axis .grid-line {
    stroke: #000;
    shape-rendering: crispedges;
    stroke-opacity: 0.2;
  }
</style>


<input id="timePoint1" type="hidden" value="{{timePoint1}}" />
<input id="timePoint2" type="hidden" value="{{timePoint2}}" />
<input id="xSelectRect" type="hidden" value="{{xSelectRect}}" />


<img id="coloringButton" (click)="openToolbarColoring()" src="assets/coloring.svg" style="margin-bottom: 20px; margin-left: 20px; width: 30px; cursor: pointer;">

<div id="toolbarColoring" style="display: none;">

  <img id="outColoringButton" (click)="closeToolbarColoring()" src="assets/outColoring.svg" style="position: relative; margin-bottom: 20px; margin-left: 20px; width: 30px; cursor: pointer; float: right; z-index: 5; ">

  <div style="position: relative; display: block; width: 100%; padding: 10px; z-index: 0;">
    <div *ngFor="let charts of arrayAttributesCharts; let i=index;" style="display: inline-block; margin-left: 10px;">
      <div class="legendColor" style="float: left; margin-top: 3px;">
        <input type="color" name="{{charts.stroke}}" [(ngModel)]="charts.stroke" (input)=" replaceColor(charts.id, charts.stroke)" />
      </div>
      <div style="display: table;">
        <div style="display: table-row">
          <div style="display: table-cell; padding-left: 10px; font-size: 10px;">{{charts.short_desc}}</div>
        </div>
        <div style="display: table-row">
          <div style="display: table-cell; padding-left: 10px; margin-top: 0px; font-size: 10px;">{{charts.description}}</div>
        </div>
      </div>

    </div>
  </div>
</div>



<div style="position: relative; width: 100%; overflow: hidden; margin-top: 0px;">
  <div id="conveyor" style="position: relative; left: 0%;  width: 320%; height: 560px; transition: 0.8s;">

    <div style="position: absolute; left: 0px; top: 0px; height: 550px; width: 32%;">
      <img id="returnButton" src="../../../../assets/return.svg" class="return_button" (click)="returnZoom()">
      <!-- <p style="float: left; margin-left: 50px;">Колличество точек: {{ arrayForChart.length }}</p> -->
      <svg id="group1" class="group1" width="100%" height="520" (mousedown)="sensorScale()" (mouseup)="sensorScale()"></svg>
    </div>

    <div style="position: absolute; left: 32%; top: 0px; height: 550px; width: 32%; ">
      <!-- <p style="float: left; margin-left: 50px;">Колличество точек: {{ arrayForChart.length }}</p> -->
      <div style="width: 100%; height: 520px; overflow: auto;">
        <svg id="group2" class="group2" width="6000px" height="520"></svg>
      </div>
    </div>
    <!--
      <div style="position: absolute; left: 66%; top: 0px; height: 550px; width: 32%;">
        <p style="float: left; margin-left: 50px;">Колличество точек: {{ arrayForChart.length }}</p>
        <svg id="group3" class="group3" width="100%" height="520"></svg>
      </div>
      -->
    </div>
  </div>


  <!--{{getHistoryValuesUrl}}-->


  <input id="yMaxLimit" type="hidden" value="{{yMaxLimit}}" />
  <input id="yAxisHeight" type="hidden" value="{{height}}" />
  <input id="xAxisWidth" type="hidden" value="{{width}}" />
  <input id="marginTop" type="hidden" value="{{margin.top}}" />
  <input id="marginLeft" type="hidden" value="{{margin.left}}">

<!--
  <div class="selector_pages" style="padding: 10px 0px 10px 0px; border-top: solid 1px #feb41b; box-shadow: 0 0 10px rgba(0,0,0,0.1);  z-index: 0;">


    <div class="scale_block">

      <div class="scale_block_inline">
        <input type="button" value="<|" class="scale_button" style="border-top: solid 1px #feb41b; border-left: solid 1px #feb41b; border-bottom: solid 1px #feb41b; border-radius: 10px 0px 0px 10px;" (click)="leftScalePlus()" />
        <input type="button" value="<" class="scale_button" style="border: solid 1px #feb41b; border-radius: 0px 0px 0px 0px; width: 40px;" (click)="moveLeft()" />
        <input type="button" value=">|" class="scale_button" style="border-top: solid 1px #feb41b; border-right: solid 1px #feb41b; border-bottom: solid 1px #feb41b; border-radius: 0px 10px 10px 0px;" (click)="leftScaleMinus()" />
      </div>

      <div class="scale_block_inline">
        <span style=" margin-right: 10px; ">Шаг масштабирования: </span>
        <select class="date_time select_department" style="outline: none;">
          <option value="5">5 мин</option>
          <option value="1">1 мин</option>
          <option value="10">10 мин</option>
        </select>
      </div>

      <div class="scale_block_inline">
        <input type="button" value="|<" class="scale_button" style="border-top: solid 1px #feb41b; border-left: solid 1px #feb41b; border-bottom: solid 1px #feb41b; border-radius: 10px 0px 0px 10px;" (click)="rightScaleMinus()" />
        <input type="button" value=">" class="scale_button" style="border: solid 1px #feb41b; border-radius: 0px 0px 0px 0px; width: 40px;" (click)="moveRight()" />
        <input type="button" value="|>" class="scale_button" style="border-top: solid 1px #feb41b; border-right: solid 1px #feb41b; border-bottom: solid 1px #feb41b; border-radius: 0px 10px 10px 0px;" (click)="rightScalePlus()" />
      </div>

    </div>

  </div>

  -->



  <!--

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Диаграмма 1" style="color: #feb41b;">
      <div style="position: relative; left: 0px; top: 0px; height: 560px; width: 100%; border: solid 1px #999;">
        <p style="float: right; margin-right: 50px;">Ширина диапазона: {{counter}}</p>
        <svg class="group1" width="100%" height="520"></svg>
      </div>
    </mat-tab>
    <mat-tab label="Диаграмма 2">
      <div style="position: relative; left: 0px; top: 0px; height: 560px; width: 100%; border: solid 1px #999;">
        <p style="float: right; margin-right: 50px;">Ширина диапазона: {{counter}}</p>
        <svg class="group2" width="100%" height="520"></svg>
      </div>
    </mat-tab>
    <mat-tab label="Диаграмма 3">
      <div style="position: relative; left: 0px; top: 0px; height: 560px; width: 100%; border: solid 1px #999;">
        <p style="float: right; margin-right: 50px;">Ширина диапазона: {{counter}}</p>
        <svg class="group3" width="100%" height="520"></svg>
      </div>
    </mat-tab>
  </mat-tab-group>

  -->
