{{params.currentShop}}
<div style="position: relative; width: 100%; top: 0px; left: 0px;">
  <img src="assets/size_templ.png" style="position: relative; width: 96%; top: 0px; left: 0px;">
  <iframe id="InTouchWeb" [src]="url" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
</div>
