<app-chart-toolbar>
</app-chart-toolbar>



<!--
<div style="height: 50px;">{{getHistoryValuesUrl + '/' + selected_prms + '/' + startDateTime + '/' + stopDateTime}}</div>
  -->
<br>
<br>
<br>


<div id="headerFixedRow" style="position: fixed; display: block; top: 0px; left: 200px; width: calc(100% - 200px); height: 31px; box-shadow: 0 0 20px rgba(0,0,0,0.2); border-bottom: solid 1px #feb41b; z-index: 5; opacity: 0;">

  <div style="position: absolute; background: #fff; display: block; top: 0px; left: 0px; box-shadow: 0 0 20px rgba(0,0,0,0.2); z-index: 3;">
    <div class="div_table" style="border-collapse: collapse;">
      <div class="div_table_row">
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #eee; position: relative; cursor: pointer;" (click)="outTest();">
          <div style="width: 50px; font-weight: bold; color: #999;">№</div>
        </div>
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #feb41b; position: relative;">
          <div style="width: 100px; font-weight: bold; color: #999;">Время</div>
        </div>
      </div>
    </div>
  </div>

  <div id="scrollHeaderRow" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 30px; overflow: hidden; z-index: 1;">
    <div id="arrayTagRow" style="position: absolute; background: #fff; top: 0px; left: 150px;">
      <div class="div_table" style="border-collapse: collapse;">
        <div class="div_table_row">
          <div class="div_table_cell" *ngFor="let tagRow of arraySelectedPrms; let i=index;" style="padding-top: 3px; text-align: center; height: 30px; border-left: solid 1px #eee; border-bottom: solid 1px #feb41b; position: relative;">
            <div style="width: 100px; font-weight: bold; color: #999; overflow: hidden;">
              {{tagRow.name}}
              <a style="display: none;">{{tagRow.shor_desc}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div style="position: relative; width: 100%; height: 70px; z-index: 0;"></div>  <!--шаблон просто так-->



<div style="position: relative; display: block; top: 0px; width: 100%; margin-bottom: 10px;">

  <div id="leftRightScroll" class="left_right_scroll" style="position: absolute; right: 0px; top: 0px; " (mousedown)="tPermission=0; leftScroll()" (mouseup)="tPermission=1"></div>
  <div class="left_right_scroll" style="position: absolute; left: 150px; top: 0px; " (mousedown)="tPermission=0; rightScroll()" (mouseup)="tPermission=1"></div>


  <div style="position: absolute; background: #fff; display: block; top: 0px; left: 0px; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); z-index: 3;">
    <div class="div_table" style="border-collapse: collapse;">
      <div class="div_table_row">
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #eee; position: relative; cursor: pointer;" (click)="outTest();">
          <div style="width: 50px; font-weight: bold; color: #999;">№</div>
        </div>
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #feb41b; border-right: solid 1px #feb41b; position: relative;">
          <div style="width: 100px; font-weight: bold; color: #999;">Время</div>
        </div>
      </div>
    </div>
  </div>


  <div id="arrayTimeCell" style="position: absolute; display: inline-block; margin-left: -0px; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.2); top: 31px; left: 0px; z-index: 2;">
    <div class="div_table" style="border-collapse: collapse;">
      <div class="div_table_row" *ngFor="let time of arrayCellTime; let i=index;">
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #eee; border-right: solid 1px #eee; position: relative;">
          <div style="width: 50px; font-weight: bold; color: #999;">{{i+1}}</div>
        </div>
        <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #eee; border-right: solid 1px #feb41b; position: relative;">
          <div style="width: 100px; font-weight: bold; color: #999;">{{time.dt}}</div>
        </div>
      </div>
    </div>
  </div>


  <div id="archiveWindow"
       style="    display: block;
    position: relative;
    width: 100%;
    height: 0px;
    overflow: hidden;
    overflow-x: scroll;
    padding-top: 0px;
    left: 0px;
    top: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #feb41b;
    border-right: solid 1px #eee;
    z-index: 1;"
       (scroll)="synchroScroll()">

    <!--
    <div style="position: absolute; top: 100%; width: 100%; height: 10px; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.3); z-index: 3;"></div> <!--нижняя тень-->
    <!--
    <div id="bottomScroll" class="top_bottom_scroll" style="position: absolute; bottom: 0px;" (mousedown)="tPermission=0; bottomScroll()" (mouseup)="tPermission=1"></div>
    <div class="top_bottom_scroll" style="position: absolute; top: 30px;" (mousedown)="tPermission=0; topScroll()" (mouseup)="tPermission=1"></div>
      -->


    <div id="arrayTagRow" style="position: absolute; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.2); top: 0px; left: 150px; z-index: 1; ">
      <div class="div_table" style="border-collapse: collapse;">
        <div class="div_table_row">
          <div class="div_table_cell" *ngFor="let tagRow of arraySelectedPrms; let i=index;" style="padding-top: 3px; text-align: center; height: 30px; border-left: solid 1px #eee; border-bottom: solid 1px #feb41b; position: relative;">
            <div style="width: 100px; font-weight: bold; color: #999; overflow: hidden;">
              {{tagRow.name}}
              <a style="display: none;">{{tagRow.shor_desc}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="arrayValues" style="position: relative; margin-bottom: 30px; display: inline-block; top: 30px; left: 150px; z-index: 0; ">
      <div class="div_table" style="border-collapse: collapse;">
        <div class="div_table_row">
          <div class="div_table_cell" *ngFor="let prms of arraySelectedPrms; let i=index;" style="border: solid 1px #eee;">
            <div class="div_table" style="border-collapse: collapse;">
              <div class="div_table_row" *ngFor="let valPrms of prms.historyValues; let j=index; ">
                <div class="div_table_cell" style="padding-top: 3px; text-align: center; height: 30px; border-bottom: solid 1px #eee; position: relative;">
                  <div style="width: 100px;">{{valPrms.val}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
