<style>

  .full_app_template {
    width: 100%;
    position: relative;
    right: 0px;
    background: #fff;
  }

  .page_templ {
    position: relative;
    left: 200px;
    width: 87%;
    background: #fff;  
  }

  @media (max-width: 1900px) {
    .full_app_template {
      width: 97%;
    }
    .page_templ {
      width: 87%;
    }
  }

  @media (max-width: 1800px) {
    .full_app_template {
      width: 99%;
    }
    .page_templ {
      width: 86%;
    }
  }

   @media (max-width: 1500px) {
    .full_app_template {
      width: 98.5%;
    }
    .page_templ {
      width: 85%;
    }
  }

   @media (max-width: 1400px) {
    .full_app_template {
      width: 97%;
    }
  }

  @media (max-width: 1360px) {
    .full_app_template {
      width: 97%;
    }
  }

  @media (max-width: 1350px) {
    .full_app_template {
      width: 97%;
    }
  }

  @media (max-width: 1300px) {
    .full_app_template {
      width: 95%;
    }
  }

  @media (max-width: 1200px) {
    .full_app_template {
      width: 92%;
    }
  }


  @media (max-width: 1080px) {
    .full_app_template {
      width: 85%;
    }
    .page_templ {
      width: 90%;
    }
  }

  @media (max-width: 986px) {
    .full_app_template {
      width: 87%;
    }
    .page_templ {
       width: 85%;
    }
  }

  @media (max-width: 900px) {
    .full_app_template {
      width: 80%;
    }
  }

  @media (max-width: 850px) {
    .full_app_template {
      width: 83%;
    }
  }

   @media (max-width: 800px) {
    .full_app_template {
      width: 72%;
    }
    .page_templ {
       width: 90%;
    }
  }

  @media (max-width: 767px) {
    .full_app_template {
      width: 90%;
    }
    .page_templ {
      left: 0px;
      width: 100%;
      top: 55px;
    }
  }

  @media (max-width: 700px) {
    .full_app_template {
      width: 90%;
    }
    .page_templ {
       width: 100%;
    }
  }

  @media (max-width: 600px) {
    .full_app_template {
      width: 95%;
    }
  }

  @media (max-width: 420px) {
    .full_app_template {
      width: 90%;
    }
  }

</style>


<div class="full_app_template">
  <!--class='container-fluid'-->
  <div style="position: relative; width: 100%; left: 0px;">
    <div style="position: relative; left: 0px; top: 0px; width: 100%;">
      <app-header></app-header>
    </div>
    <div class=''>
      <app-nav-menu></app-nav-menu>
    </div>

    <div id="pageTempl" class='page_templ'>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
