.date_time {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}
.send_button {
  border: solid 1px #feb41b;
  color: #999;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  background: #fff;
}
.send_button:hover {
  background: rgb(255, 230, 200);
  color: red;
}

.div_table {
  position: relative;
  display: table;
  border-spacing: 0px;
}

.div_table_row {
  display: table-row;
}
.div_table_row:nth-child(2n+1) {
  background: rgb(250, 250, 250);
}
.div_table_row .div_table_cell:nth-child(1) {
  width: 65%;
}
  .div_table_row .div_table_cell:nth-child(2) {
    width: 10px;
    border-left: solid 1px rgb(240, 240, 240);
  }

.div_table_cell {
  display: table-cell;
  border-bottom: solid 1px rgb(240, 240, 240);
  padding: 5px 5px 5px 10px;
}


.field_width {
  width: 100%;
  height: 30px;
}


.instruct_text {
  margin-left: 10px;
  color: #999;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
