
<div style="position: absolute; display: table; right: 30px; top: 20px;">
  <div style="display: table-row">
    <div class="div_table_cell">
      <label class="instruct_text" style="padding-right: 5px;">Время пробы:</label>
    </div>
    <div class="div_table_cell" style="padding-right: 20px;">
      <select id="curTime" class="date_time" (input)="replaceNeedTime()">
        <option value="19">19:00</option>
        <option value="21">21:00</option>
        <option value="23">23:00</option>
        <option value="1">01:00</option>
        <option value="3">03:00</option>
        <option value="5">05:00</option>
        <option value="7">07:00</option>
        <option value="9">09:00</option>
        <option value="11">11:00</option>
        <option value="13">13:00</option>
        <option value="15">15:00</option>
        <option value="17">17:00</option>
      </select>
    </div>
  </div>
</div>




<div style="font-size: 25px; font-weight: bold; color: #999; margin-left: 30px; margin-top: 20px;">Ввод парамеров pH и Zn КЭЦ</div>

<div style="border: solid 1px rgb(240,240,240); padding: 40px 20px 20px 20px; margin-top: 30px; margin-bottom: 50px; width: 100%;">

  <div style="display: table; width: 100%;">
    <div style="display: table-row">
      <div style="display: table-cell; padding-right: 30px; ">
        <div style="position: relative; border: solid 5px rgb(220,220,220); padding: 30px 10px 10px 10px; border-radius: 5px; ">
          <span style="position: absolute; top: -25px; left: 20px; padding: 10px 15px 10px 15px; background: #fff; color: #777; font-size: 20px; font-weight: bold;">
            H<span style="font-size: 12px;">2</span>SO<span style="font-size: 12px;">4</span>
          </span>
          <div class="div_table" style="width: 100%; ">

            <div class="div_table_row" *ngFor="let tags of tagsPh">
              <div class="div_table_cell" style="font-size: 16px;">
                {{tags.description}}
              </div>
              <div class="div_table_cell">
                <input id="{{tags.tagname}}" type="text" class="date_time field_width">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: table-cell; padding-left: 30px;">
        <div style="position: relative; border: solid 5px rgb(220,220,220); padding: 30px 10px 10px 10px; border-radius: 5px; ">
          <span style="position: absolute; top: -25px; left: 20px; padding: 10px 15px 10px 15px; background: #fff; color: #777; font-size: 20px; font-weight: bold;">Zn</span>
          <div class="div_table" style="width: 100%;">

            <div class="div_table_row" *ngFor="let tags of tagsZn">
              <div class="div_table_cell" style="font-size: 16px;">
                {{tags.description}}
              </div>
              <div class="div_table_cell">
                <input id="{{tags.tagname}}" type="text" class="date_time field_width">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="button" class="send_button" style="width: 100%; margin-top: 20px;" value="Отправить" (click)="cycleGets()">

</div>
