

<div id="headerTableFixed" class='header_table_fixed' *ngIf="parameters">
  <div class="div_table_row" style="width: 100%;">
    <div class="div_table_cell head_cell cell_1">№ пп</div>
    <div class="div_table_cell head_cell cell_2 ">Название</div>
    <div class="div_table_cell head_cell">Значение</div>
    <div class="div_table_cell head_cell"></div>
    <div class="div_table_cell head_cell"></div>
    <div class="div_table_cell head_cell right_cell_1">Min</div>
    <div class="div_table_cell head_cell right_cell_2">Max</div>
    <div class="div_table_cell head_cell right_cell_3">Архив</div>
  </div>
</div>




<div id="baseBlock" class="base_block">


  <p *ngIf="!parameters"><em>Загрузка...</em></p>

  <h1 style="margin-left: 40px; color: #777;">{{title}}</h1>
  <p style="opacity: 0;">{{treeParametersUrl}}</p>


  <div id="headerTable" class='header_table' *ngIf="parameters">
    <div class="div_table_row" style="width: 100%;">
      <div class="div_table_cell head_cell cell_1">№ пп</div>
      <div class="div_table_cell head_cell cell_2 ">Название</div>
      <div class="div_table_cell head_cell">Значение</div>
      <div class="div_table_cell head_cell"></div>
      <div class="div_table_cell head_cell"></div>
      <div class="div_table_cell head_cell right_cell_1">Min</div>
      <div class="div_table_cell head_cell right_cell_2">Max</div>
      <div class="div_table_cell head_cell right_cell_3">Архив</div>
    </div>
  </div>

  <!--
  <div class='div_table' *ngIf="parameters" style="position: relative; width: 100%; border-spacing: 0px; ">
    <div class="div_table_row">
      <div class="div_table_cell for_all_cell cell_1">1</div>
      <div class="div_table_cell for_all_cell cell_2">Донные выгрузки</div>
      <div class="div_table_cell for_all_cell medium_cell" colspan="3">
        <input type="text" class="date_time field_width">
      </div>
      <div class="div_table_cell for_all_cell right_cell_1"></div>
      <div class="div_table_cell for_all_cell right_cell_2"></div>

      <div class="div_table_cell for_all_cell right_cell_3">
        <span class="p_values">Архив: </span>
        <span style="color: #feb41b; cursor: pointer;" class='glyphicon glyphicon-th-list'></span>
        <a class="plus_parameters" id="addParams_1" (click)="idAdd=1; openFormAddParameters()">+</a>
      </div>

    </div>

    <div class="div_table_row">
      <div class="div_table_cell for_all_cell cell_1">2</div>
      <div class="div_table_cell for_all_cell cell_2">Режим работы</div>
      <div class="div_table_cell for_all_cell medium_cell" colspan="3">
        <input type="text" list="status" class="date_time field_width" />
        <datalist id="status">
          <option value="В работе">
          <option value="Авария">
          <option value="ППР">
          <option value="Отладка">
          <option value="Настройка">
        </datalist>
      </div>
      <div class="div_table_cell for_all_cell head_cell right_cell_1"></div>
      <div class="div_table_cell for_all_cell head_cell right_cell_2"></div>

      <div class="div_table_cell for_all_cell right_cell_3">
        <span class="p_values">Архив: </span>
        <span style="color: #feb41b; cursor: pointer;" class='glyphicon glyphicon-th-list'></span>
        <a class="plus_parameters" id="addParams_2" (click)="idAdd=2; openFormAddParameters()">+</a>
      </div>

    </div>


    <div class="div_table_row" *ngFor="let parameter of parameters; let i=index;">

      <div class="div_table_cell for_all_cell cell_1">{{ parameter.id }}</div>
      <div class="div_table_cell for_all_cell cell_2"><p>{{ parameter.name }}</p></div>
      <div class="div_table_cell for_all_cell medium_cell"><input type="text" class="date_time field_width" /></div>
      <div class="div_table_cell for_all_cell right_cell_1"><span class="p_values">Min: </span><span>{{ parameter.min }}</span></div>
      <div class="div_table_cell for_all_cell right_cell_2"><span class="p_values">Max: </span>{{ parameter.max }}</div>

      <div class="div_table_cell for_all_cell right_cell_3">
        <span class="p_values">Архив: </span>
        <span style="color: #feb41b; cursor: pointer;" class='glyphicon glyphicon-th-list'></span>
        <a class="plus_parameters" id="addParams_{{i+3}}" (click)="idAdd=i+3; openFormAddParameters()">+</a>
      </div>

    </div>

  </div>
  -->


  <div id="predictWindow" style="position: relative; display: block; width: 100%; z-index: 0">
    <div style="position: relative; color: #999; width: 100%; height: 100%; overflow: auto; padding: 5px 5px 5px 5px; color: #333; z-index: 999;">

      <div id="one_1" class='div_table' style="position: relative; width: 100%; border-spacing: 0px; ">
        <div style="display: block; width: 100%;" *ngFor="let parameter of arrayParameters; let j=index;">

          <div class="head_tab" (click)="identif = j+1; unHideTree()">
            <a id="arrowOne_{{j+1}}" class="arrow">
              >
            </a>
            <span style=" font-weight: bold; color: #999;"> {{ parameter.shortDesc }}</span>
          </div>
          <div id="two_{{j+1}}" style="display: none; width: 100%; border-spacing: 0px; ">
            <div class="div_table_row" *ngFor="let descriptionParameter of parameter.attributes; let i=index;">
              <div class="div_table_cell for_all_cell cell_1">

                {{ i+1 }}

              </div>
              <div class="div_table_cell for_all_cell cell_2">
                <p> {{ descriptionParameter.description }}</p>
              </div>
              <div class="div_table_cell for_all_cell medium_cell"> <input type="text" class="date_time field_width" /> </div>
              <div class="div_table_cell for_all_cell right_cell_1"><span class="p_values">Min: </span><span>min</span></div>
              <div class="div_table_cell for_all_cell right_cell_2"><span class="p_values">Max: </span>max</div>

              <div class="div_table_cell for_all_cell right_cell_3">
                <span class="p_values">Архив: </span>
                <span style="color: #feb41b; cursor: pointer;" class='glyphicon glyphicon-th-list'></span>
                <a class="plus_parameters" id="addParams_{{j+1+'_'+(i+1)}}" (click)="idAdd=j+1+'_'+(i+1); nameObj=parameter.tagName; openFormAddParameters()">+</a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>



<div id="formAddPrm" class="form_add_prm">
  <div class="modalWindow">
    <a class="close_add_form" (click)="closeFormAddParameters()">X</a>

    <div class="array_table">
      <div class="array_table_row">
        <div class="array_table_cell" style="height: 10px;">
          <p style="position: relative; top: -5px; height: 0px; font-size: 18px; display: block; width: 250px; color: #777; ">Добавление параметра <span style="margin-right: 20px;">{{idAdd}}</span></p>
        </div>
      </div>

      <div class="array_table_row">
        <div class="array_table_cell">
          <input id="namePrm" type="text" value="" placeholder="Имя" class="input_text" style="margin-right: 20px; padding-left: 7px; width: 200px;" />
          <input id="descPrm" type="text" value="" placeholder="Описание" class="input_text" style="margin-right: 20px; padding-left: 7px; width: 250px; " />
          <input id="engUnits" type="text" value="" placeholder="ед. изм." class="input_text" style="margin-right: 20px; padding-left: 7px; width: 70px; " />

          <select id="typePrm" placeholder="Тип:" class="input_text" style="margin-right: 20px; padding-left: 7px;">
            <option value="Integer" (click)="patternExpression('^[ 0-9]+$')" selected>Integer</option>
            <option value="Double" (click)="patternExpression('^[ 0-9.,]+$')">Double</option>
            <option value="Float" (click)="patternExpression('^[ 0-9.,]+$')">Float</option>
            <option value="String" (click)="patternExpression('^[ A-Z a-z 0-9.,]+$')">String</option>
            <option value="Boolean" (click)="patternExpression('[0-1]{0,1}')">Boolean</option>
          </select>

        </div>
        <div class="array_table_cell">
          <div id="arrayButton" class="array_button">
            <button (click)="addFieldArray(); "
                    style="border: solid 1px #feb41b;
                          padding: 3px 10px 3px 10px;
                          border-radius: 5px 5px 5px 5px;
                          color: #feb41b;
                          background: none;
                          width: 100px;
                          outline: none;
                          cursor: pointer;
                          z-index: 0;
                          font-weight: bold;
                          position: relative;
                          left: -5px;
                          ">
              Значения
            </button>
            <div style="position: relative; height: auto; left: -5px; background: none; padding: 0px;">
              <div id="addFieldArray" style="position: relative; display: inline-block; display: none;" >
              </div>
              <input id="resetArray"
                     type="button"
                     value="Сброс"
                     style="color: #feb41b; float: right; background: #fff; border: none; outline: none; display: none;"
                     (click)="resetArray()">

            </div>
          </div>
        </div>
      </div>
    </div>

    <input style="position: absolute; top: 10px; right: 10px;" type="hidden" id="nameObj" value="{{nameObj}}">

    <span class="span_ok_add">
      <input (click)="createNewParameter()" type="button" class="start_button ok_add" value="OK">
    </span>

  </div>

</div>




